#workshops_list.list
  .list-title
    %h1 Workshops
    .r-menu=link_to "New", new_workshop_path
  .list-body.scrollable
    -@workshops.each do |workshop|
      %a.list-item{href: workshop_path(workshop)}
        .list-item-graphic= workshop.date.strftime("%m/%d")
        .list-item-label= workshop.attendees.pluck(:first_name).join(", ")
    = link_to_next_page @workshops, 'Load More'

#workshops_detail.panel.list-detail
