#workshops_list.list
  .list-title
    %h1 Workshops
    .r-menu=link_to "New", new_workshop_path
  .list-body.scrollable
    -@workshops.each do |workshop|
      %a.list-item{href: workshop_path(workshop)}
        .list-item-graphic
          .calendar_date
            .calendar_date_month=workshop.date.strftime("%a")
            .calendar_date_day=workshop.date.strftime("%d")
        .list-item-label= workshop.kind
    = link_to_next_page @workshops, 'Load More'

#workshops_detail.panel.list-detail
