#workshops_list.list

= form_for @workshop, html: { class: 'list-detail panel' } do |f|
  .panel-title
    %h1 New Workshop
    .l-menu= link_to "Cancel", workshops_path
    .r-menu
      = f.submit 'Done'
  .panel-body.scrollable.pad
    = render partial: 'form', locals: {f: f}
