<h4>Leaders (<%= leaders.length == 0 ? "" : leaders.length %>)</h4>
<ul class='columned-list'>
  <% leaders.forEach(function(leader){ %>
    <li class='person-name'><%= leader.first_name %> <%= leader.last_name %></li>
  <% }); %>
</ul>
