<h4>Participants (<%= supporters.length == 0 ? "" : supporters.length %>)</h4>
<ul class='columned-list'>
  <% supporters.forEach(function(p){ %>
    <li class='person-name'><%= p.first_name %> <%= p.last_name %></li>
  <% }); %>
</ul>
