<div class='detail-title'>
  <h1>Attendance</h1>
  <div class='r-menu'>
    <div class='button done'>Done</div>
  </div>
</div>
<div class='detail-content scrollable'>
  <div class='engagement-attendance'>
    <input id='engagement-attendance-search-form' type='text' name='q' placeholder='Find someone...'>
    <div id='engagement-search-results'></div>
    <div class='engagement-attendees'>
      <div id='engagement-attendees-list'>
        <div class='loading'></div>
      </div>
    </div>
  </div>
</div>
