<div class='detail-title'>
  <h1>Attendance</h1>
  <div class='r-menu'>
    <div class='button done'>Done</div>
  </div>
</div>
<div class='detail-content scrollable'>
  <div class='engagement-attendance'>
    <div class='fancy-search-form'>
      <input id='engagement-attendance-search-form' type='text' name='q' placeholder='Type a name...'>
    </div>
    <div id='engagement-search-results' class='fancy-list'></div>
    <div id='engagement-attendees-list' class='fancy-list'>
      <div class='loading'></div>
    </div>
  </div>
</div>
