<div class='detail-content no-title scrollable'>
  <div class='engagement-attendance'>
    <div class='fancy-search-form'>
      <input id='engagement-attendance-search-form' type='text' name='q' autocomplete='false' autocorrect='false'>
      <div class='button done'>Done</div>
    </div>
    <div id='engagement-search-results' class='fancy-list'></div>
    <div id='engagement-attendees-list' class='fancy-list'>
      <div class='loading'></div>
    </div>
  </div>
</div>
