<div class='list' id='engagements-list'>
  <div class='list-title'>
    <h1>Engagements</h1>
  </div>
  <div id='engagements-list-items' class='list-items'></div>
  <div id='show-engagement' class='detail detail-show'></div>
</div>
