<div class='list' id='engagements-list'>
  <div class='list-title'>
    <h1>Engagements</h1>
    <div class='r-menu'>
      <div class='button new'>New</div>
    </div>
  </div>
  <div id='engagements-list-items' class='list-items scrollable'></div>
</div>
<div id='show-engagement' class='detail detail-show'></div>
<div id='new-engagement' class='detail detail-new'></div>
<div id='edit-engagement' class='detail detail-edit'></div>
<div id='engagement-uploads' class='detail detail-upload'></div>
<div id='engagement-attendance' class='detail detail-attendance'></div>
