<form>
  <div class='attendance recessed-button'>
    <span class='icon icon-chevron-down'></span> Attendees (<%= attendee_ids.length %>)
  </div>
  <div class="field">
    <label for="kind">Kind</label>
    <select id="kind" name="kind">
      <option value="Coaching Session">Coaching Session</option>
      <option value="Event">Event</option>
      <option value="Meeting">Meeting</option>
      <option value="Workshop">Workshop</option>
    </select>
  </div>
  <div class="field">
    <label for="school_id">School</label>
    <select id="engagement_school_id" name="school_id">
      <% for (var i=0; i < Phonebook.schools.length; i++) { %>
        <option value="<%= Phonebook.schools.models[i].get('id') %>">
          <%= Phonebook.schools.models[i].get('name') %>
        </option>
      <% } %>
    </select>
  </div>
  <div class="field">
    <label for="name">Name</label>
    <input id="name" name="name" type="text">
  </div>
  <div class="field">
    <label for="date">Date</label>
    <input name='date' type='date'>
  </div>
  <div class="field">
    <label for="duration">Duration</label>
    <select id="engagement_duration" name="duration">
      <option value="0.1">5 Minutes</option>
      <option value="0.25">15 Minutes</option>
      <option value="0.5">30 Minutes</option>
      <option value="0.75">45 Minutes</option>
      <option selected value="1">1 Hour</option>
      <option value="1.5">1.5 Hours</option>
      <option value="2.0">2 Hours</option>
      <option value="3.0">3 Hours</option>
      <option value="4.0">4 Hours</option>
      <option value="5.0">5 Hours</option>
      <option value="6.0">6 Hours</option>
      <option value="8.0">7+ Hours</option>
    </select>
  </div>
  <div class="field">
    <label for="notes">Notes</label>
    <textarea name='notes'></textarea>
  </div>
</form>
