<div class='titlebar'>
  <h1>Engagements</h1>
  <div class='r-menu'>
    <div class='button new icon-add-circle-outline'></div>
  </div>
  <div class='l-menu'>
    <div class='button search icon-search'></div>
  </div>
  <div class='titlebar-search-container'></div>
</div>
<div id='engagements-table' class='table-rows scrollable'></div>
