<div class="list-item-graphic">
  <div class="calendar-date">
    <div class="calendar-date-month"><%= shortmonth %></div>
    <div class="calendar-date-day"><%= day_of_month %></div>
  </div>
</div>
<div class="list-item-label">
  <div class='engagement-kind'><%= kind %></div>
  <div class='engagement-name'><%= name %></div>
</div>
