<div class="item-date">
  <div class="date-month"><%= Date.parse(engagement.date).toString('MMM') %></div>
  <div class="date-day"><%= Date.parse(engagement.date).toString('dd') %></div>
</div>
<div class="item-info">
  <h3><%= engagement.kind %></h3>
  <p><%= engagement.name %></p>
</div>
<div class="delete">Delete</div>
