<div class='engagement-kind list-item-title'><%= kind %></div>
<div class='engagement-name list-item-subject'><%= name || school %></div>
<div class='list-item-excerpt'><%= notes %></div>
<div class='engagement-date list-item-timestamp'><%= date %></div>
<div class='list-item-controls'>
  <div class='delete'>Delete</div>
</div>
