<div class="titlebar">
  <div class='l-menu'>
    <div class='button cancel'>Cancel</div>
  </div>
  <div class='r-menu'>
    <div class='button done'>Done</div>
  </div>
  New Engagement
</div>
<div id="engagement-form"></div>
