<div class="titlebar">
  <div class='l-menu'>
    <div class='button back'>Back</div>
  </div>
  <div class='r-menu'>
    <div class='button edit'>Edit</div>
  </div>
  Engagement
</div>
<div id="engagement-profile" class="panel"></div>
<!--<div id="person-projects" class="panel"></div>-->
<div id="engagement-attendees" class="panel"></div>
