<div class='detail-title'>
  <div class='l-menu'>
    <div class='button back'>Back</div>
  </div>
  <h1><%= kind %></h1>
</div>
<div class='detail-content'>
  <h1><%= name %></h1>
  <h6>Date</h6>
  <pre><%= notes %></pre>
</div>
