<div class='detail-title'>
  <h1>Engagement</h1>
  <div class='l-menu'>
    <div class='button back'>Back</div>
  </div>
  <div class='r-menu'>
    <div class='button edit'>Edit</div>
  </div>
</div>
<div class='engagement-detail detail-content scrollable'>
  <div>
    <div class='engagement-info'>
    </div>
    <div class='engagement-attendance card attendance'>
      <h4>Attendees (<%= attendee_ids.length %>)</h4>
      <div class='loading'></div>
    </div>
    <div class='engagement-assets card'>
      <h4>Gallery</h4>
      <div class='loading'></div>
    </div>
  </div>
</div>
