<div class='titlebar'>
  <h1>Upload Media</h1>
  <div class='r-menu'>
    <div class='button done'>Done</div>
  </div>
</div>
<div class='detail-content scrollable'>
  <div class='engagement-upload-content'>
    <div class='engagement-assets'>
      <div class="spinner"></div>
    </div>
  </div>
</div>
