<div class='detail-title'>
  <h1>Upload Media</h1>
  <div class='r-menu'>
    <div class='button done'>Done</div>
  </div>
</div>
<div class='detail-content scrollable'>
  <div class='engagement-upload-content'>
    <div class='engagement-assets'><p>Loading media...</p></div>
  </div>
</div>
