.engagements {
  a { color: $engagements-color; }
  a.duplicate { color: $retro-orange; }
}
#engagements-table {
  a { color: $engagements-color; }
  th.headcount, th.date, th.duration, th.notes_count {
    text-align: right;
  }
  th.name {
    width: 40ch;
  }
  th.kind {
    width: 20ch;
  }
  td:nth-child(2) {
    a { color: $base-font-color; }
  }
}
.engagements-filters {
  .apply { color: $engagements-color; }
}
#engagement-form {
  @include row;
  .duration-field, .date-field {
    @include span-columns(3);
  }
  .duration-field {
    @include omega;
  }
  .duration-field {
    input {
      display: inline-block;
      width: 8ch;
    }
    select {
      display: inline-block;
      width: auto;
    }
    label {
      display: block;
      margin-top: 5px;
    }
  }
  .kind-field, .school-field, .name-field {
    @include span-columns(6);
  }
  .school-field { @include omega; }
  .alternate-label, .headcount-field {
    display: none;
  }
  .event {
    .headcount-field { display: block; }
    .alternate-label { display: block; }
    .primary-label { display: none; }
  }
  .hints {
    * {
      color: $retro-light-gray;
      font-size: 12px;
      line-height: 15px;
      margin-top: 5px;
      display: none;
    }
  }
  .coaching .hints .coaching { display: block; }
  .event .hints .event { display: block; }
  .course .hints .course { display: block; }
  .meeting .hints .meeting { display: block; }
}
