#nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 240px;
  font-weight: 600;
  @include linear-gradient(#3182a2, #23485d);
  @include box-sizing(border-box);
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  h1 {
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
  }
  li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  section {
    padding: 15px;
  }
  #scope-menu {
    display: none;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    padding: 0 15px;
    ul {
      margin-bottom: 15px;
    }
  }
}

#app-sections {
  border-top: 1px solid rgba(0,0,0,.1);
  li {
    display: block;
    height: 25px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .link-icon {
    font-size: 20px;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 28px;
    float: left;
  }
  li, a { display: block; }
  .link-label {
    line-height: 30px;
  }
}

#app-name {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: rgba(0,0,0,.1);
  box-sizing: border-box;
  height: 50px;
}

#scope-toggle {
  cursor: pointer;
  header:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: rgba(255,255,255,.8) transparent transparent transparent;
    position: relative;
    top: -1px;
    @include transition(transform .3s);
  }
  &.open header:after {
    @include transform(rotate(180deg));
  }
}


#user {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 240px;
  padding: 15px;
  font-weight: 500;
  height: 60px;
  @include transition(all .5s);
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  line-height: 15px;
  img {
    height: 30px;
    width: 30px;
    float: left;
    margin-right: 15px;
    border-radius: 100%;
    border: 1px solid;
  }
  .current-user-name {
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.hidden {
    opacity: 0;
    @include transform(translate3d(0,75px,0));
  }
}

#yield {
  margin-left: 240px;
}
