#nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 240px;
  padding: 15px;
  font-weight: 600;
  @include linear-gradient(-45deg, #23485d, #3182a2);
  @include box-sizing(border-box);
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  h1 {
    font-size: 25px;
    line-height: 1;
    margin-bottom: 5px;
    font-weight: 700;
  }
  li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a:hover {
    color: $base-font-color;
  }
}
#scope-toggle {
  cursor: pointer;
}

#scope-menu {
  display: none;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}

#user {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 240px;
  padding: 15px;
  font-weight: 500;
  height: 75px;
  @include transition;
  img {
    height: 45px;
    width: 45px;
    float: left;
    margin-right: 15px;
    border-radius: 100%;
    border: 1px solid;
  }
  .current-user-name {
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.hidden {
    opacity: 0;
    @include transform(translate3d(0,75px,0));
  }
}
#yield {
  margin-left: 240px;
  padding: 15px;
}
