body {
  border-left: 66px solid $dark-gray;
}

#header {
  line-height: 3;
  position: absolute;
  top: 0;
  left: 66px;
  height: 66px;
  right: 0;
  padding: 1em 2em;
  @include row;
  z-index: 10;
  background: white;
  border-bottom: 1px solid $base-border-color;
  a {
    color: $base-font-color;
    &:hover { text-decoration: underline; }
  }
  #home {
    @include span-columns(3);
    line-height: 2;
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #filter-trigger {
    cursor: pointer;
    @include span-columns(3);
    .octicon { @include transition }
    &.open {
      .octicon {
        @include transform(rotate(180deg));
      }
    }
  }
  #search {
    @include span-columns(3);
    position: relative;
    padding-left: 20px;
    label {
      font-weight: normal;
      position: absolute;
      top: 0;
      left: 0;
      color: $base-border-color;
    }
    input {
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
}

#flash {
  margin-top: 60px;
}
.flash {
  position: relative;
  background: $light-green;
  padding: 1em 2em;
  color: white;
  position: relative;
  .flash-dismiss {
    position: absolute;
    top: 1em;
    right: 2em;
  }
}

#filters {
  @include row;
  display: none;
  background: $base-accent-color;
  color: white;
  padding: 2em;
  .filter {
    @include span-columns(3);
    line-height: 2;
  }
  .filter-label { text-transform: uppercase; }
  a {
    color: white;
    opacity: .5;
    display: block;
    &.current, &:hover {
      opacity: 1;
    }
  }
}

#yield {
  padding: 2em;
}

#tabs {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: 66px;
  background: $dark-gray;
  text-align: center;
  box-shadow: inset -6px 3px 9px rgba(0,0,0,.4);
  border: 1px solid darken($dark-gray, 10%);
  img {
    width: 44px;
    display: block;
    margin: 10px auto;
  }
  li {
    margin-bottom: 1px;
    font-size: 9px;
    border-top: 1px solid $dark-gray;
    .octicon {
      display: block;
      margin: 0 auto 3px;
    }
    a {
      display: block;
      padding: 12px 0 8px;
      margin: 0 4px;
      color: lighten($medium-gray, 20%);
    }
    &.current {
      background: darken($dark-gray, 5%);
      border-top: 1px solid darken($dark-gray, 10%);
      a {
        color: white;
      }
      .octicon {
        color: $blue;
      }
    }
    &:hover {
      a {
        color: $light-gray;
      }
    }
  }
  a {
    color: $medium-gray;
  }
  @include media(1025px) {
    position: fixed;
  }
}


#user {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 66px;
  color: white;
  padding-bottom: 8px;
  a:hover {
    color: $light-yellow;
  }
  .label { font-weight: normal; }
}

