/*
= require s3_direct_upload_progress_bars
= require octicons
*/
@import 'bourbon';
@import 'base/base';
@import 'neat';
@import 'layout';
@import 'modules';
@import 'actions';
@import 'people';
@import 'projects';
@import 'schools';
@import 'engagements';
@import 'selectize';

html, body {
  font-size: 12px;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

#{$all-text-inputs} {
  font-size: 1em;
  padding: 0;
  border: none;
  border-bottom: 2px solid $base-border-color;
  border-radius: 0;
}
textarea {
  border-radius: 0;
  border-width: 2px;
}
input[type=submit] {
  box-sizing: border-box;
  height: 18px;
  padding: 0 4px;
  display: inline-block;
  border-radius: 0;
}
form {
  .actions input[type=submit] {
    font-size: 2em;
    height: auto;
    padding: .4em;
    border-radius: $base-border-radius;
  }
}
pre {
  white-space: pre-wrap;
  font-family: $base-font-family;
  margin: 0 auto;
}
