/*
= require s3_direct_upload_progress_bars
= require octicons
= require vex
*/

@import 'normalize';
@import 'variables';
@import 'bourbon';
@import 'neat';
@import 'forms';
@import 'layout';
@import 'modules';
@import 'state';
@import 'actions';
@import 'people';
@import 'projects';
@import 'schools';
@import 'engagements';
@import 'selectize';
@import 'twitter-typeahead';
@import 'loading';

html, body {
  font-size: 12px;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

pre {
  white-space: pre-wrap;
  font-family: $base-font-family;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

::-webkit-input-placeholder {
  color: $base-border-color;
}
::-moz-input-placeholder {
  color: $base-border-color;
}
:-ms-input-placeholder {
  color: $base-border-color;
}
