.titlebar {
  position: relative;
  padding-bottom: 15px;
  padding: 15px;
  background: white;
  height: 50px;
  .title, .subtitle {
    display: inline-block;
  }
}

.titlebar-actions {
  float: right;
  a:not(:last-child):after {
    display: inline-block;
    padding-left: 5px;
    content: '//';
    color: $base-border-color;
  }
}

.titlebar-nav {
  display: table;
  margin: -7px auto 0;
  table-layout: fixed;
  font-size: 15px;
  > * {
    vertical-align: middle;
    display: table-cell;
    padding: 5px;
    border: 1px solid $base-accent-color;
    border-left: none;
  }
  > *:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid $base-accent-color;
  }
  > *:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  > .active {
    background: $base-accent-color;
    color: white;
  }
}

.factbar {
  white-space: nowrap;
  overflow: auto;
  background: white;
  border-bottom: 1px solid $base-border-color;
  .fact {
    display: inline-block;
    padding: 5px 15px;
    border-left: 1px solid $base-border-color;
    &:first-child { border-left: none; }
    text-transform: uppercase;
    font-size: 10px;
  }
  label {
    &:after {
      content: ':';
    }
  }
}

.section {
  padding: 15px;
}

.section-header-action {
  float: right;
}

.table {
  min-height: 3em;
  &:empty { display: none; }
  .boolean-cell {
    text-align: center;
    input {
      width: auto;
      margin: 0 auto;
    }
  }
}
.section .table {
  margin-left: -15px;
  margin-right: -15px;
  th:first-child, td:first-child {
    padding-left: 15px;
  }
  th:last-child, td:last-child {
    padding-right: 15px;
  }
}

.index-table {
  min-height: 20em;
  margin-bottom: 60px;
}

.graph {
  min-height: 20em;
}

.backgrid {
  th {
    position: relative;
    @include user-select(none);
    padding: 5px 5px 4px 5px;
    text-align: left;
    .sort-caret { display: none; }
    &.ascending, &.descending {
      a {
        color: $base-font-color;
      }
    }
    &:last-child { border-right: none; }
  }
  td a {
    display: block;
  }
  .action-cell {
    white-space: nowrap;
    word-spacing: 5px;
    text-align: right;
    a {
      display: inline-block;
      visibility: hidden;
      text-transform: uppercase;
      font-size: 10px;
      line-height: 15px;
    }
  }
  tr:hover .action-cell a {
    visibility: visible;
  }
}
.dashboard .backgrid th {
  text-align: right;
  &.name { text-align: left; }
}
.backgrid-paginator {
  position: fixed;
  bottom: 0;
  left: 210px;
  right: 0;
  background: white;
  background: rgba(255,255,255,0.95);
  border-radius: none;
  border-top: 1px solid $base-border-color;
  text-align: left;
  line-height: 1;
  li { text-align: center; }
}

.leaderboard {
  min-height: 10em;
  padding-bottom: 0;
  margin-bottom: -15px;
  li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

form .field {
  padding: 15px 0;
}

input.save {
  border: none;
  font-family: $base-font-family;
  display: inline-block;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  padding: 0 15px;
  line-height: 50px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.footerbar {
  position: fixed;
  bottom: 0;
  left: 210px;
  right: 0;
  padding: 15px;
  line-height: 15px;
  nav { display: inline-block; }
  .l { float: left; }
  .r { float: right; }
  a:not(:last-child):after {
    display: inline-block;
    padding-left: 5px;
    content: '/';
    color: $base-font-color;
  }
}

.footerbar + .section {
  padding-bottom: 60px;
}

@include media(1020px) {
  .two-col {
    @include row;
    > * {
      @include span_columns(6);
    }
  }
  .three-col { @include row;
    > * {
      @include span-columns(4);
    }
  }
  .four-col { @include row;
    > * {
      @include span-columns(3);
    }
  }
}

.selectize-dropdown.plugin-optgroup_columns {
  position: fixed;
  left: 210px !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: auto !important;
  height: auto !important;
  z-index: 100 !important;
  border: none;
  border-radius: none;
  margin: 0;
  box-shadow: none;
  background: rgba(255,255,255,.97);
  font-size: 15px;
  .selectize-dropdown-content {
    max-height: 100%;
  }
  .optgroup-header {
    background: none;
    font-weight: bold;
    border-bottom: 1px solid $base-border-color;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
  }
  .option {
    padding: 5px 15px;
  }
  .optgroup[data-group=Person] {
    .optgroup-header {
      color: $people-color;
    }
  }
  .optgroup[data-group=Project] {
    .optgroup-header {
      color: $projects-color;
    }
  }
  .optgroup[data-group=Engagement] {
    .optgroup-header {
      color: $engagements-color;
    }
  }
}
.text-editor {
  position: absolute;
  top: 50px;
  right: 0;
  left: 210px;
  bottom: 0;
  width: auto;
  height: auto;
  margin: 15px;
  textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border: 1px solid $base-border-color;
    &:focus {
      outline: none;
      border-color: $reports-color;
    }
  }
}

.stickies {
  overflow: hidden;
  overflow-x: auto;
  padding: 15px;
  margin: 0 -15px;
  > div {
    white-space: nowrap;
  }
}
.sticky {
  display: inline-block;
  width: 240px;
  height: 180px;
  padding: 10px;
  margin: 0 15px 0 0;
  white-space: normal;
  .note-user, .note-date { display: inline-block; }
  .note-text {
    margin-top: 5px;
    height: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

