.titlebar {
  position: relative;
  border-bottom: 1px solid $base-border-color;
  padding-bottom: 15px;
  padding: 15px;
  background: white;
  height: 50px;
  .title, .subtitle {
    display: inline-block;
  }
  .title {
    font-weight: 700;
  }
}

.section {
  padding: 15px;
  h2 {
    font-weight: 700;
    border-bottom: 3px solid;
  }
}

.table {
  min-height: 3em;
  overflow: auto;
}

.graph {
  padding: 15px;
  min-height: 20em;
}

.backgrid {
  th, td {
    border-bottom: none;
  }
  th {
    border-right: 1px solid $base-border-color;
    border-bottom: 1px solid $base-border-color;
    position: relative;
    text-align: right;
    @include user-select(none);
    .sort-caret { display: none; }
    &.ascending, &.descending {
      a {
        color: $base-font-color;
      }
    }
    &.name {
      text-align: left;
    }
  }
}

@include media(1020px) {
  .two-col {
    @include row;
    > * {
      @include span_columns(6);
    }
  }
}
