.person {
  @include row;
  margin-bottom: 2em;
  > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
  }
}
.people:empty:after {
  content: "Alas! Alack! There's nobody here.";
}

.logbook_people {
  a { color: $people-color; }
  .labels, .page-header, #filters {
    background: $people-color;
    color: white;
    a { color: white; }
  }
  #filters {
    border-bottom: 1px solid white;
  }
}
