body[data-controller=logbook_people] {
  a { color: $people-color; }
}
#people-table {
  th.dream_team { text-align: center; }
  th.grade, th.projects_count, th.engagements_count { text-align: right; }
  td:first-child, td:nth-child(2) {
    width: 150px;
  }
}
