@media print {
  @page {
    margin: .25in;
  }
  #nav, .footerbar, .toggle-more, .section-header-action, {
    display: none;
  }
  body {
    margin-top: 0;
    border-left: none;
    font-size: 10px;
    line-height: 1.2;
    margin: 0;
  }
  #yield {
    margin-left: 0;
  }
}
