.logbook_projects {
  a { color: $projects-color; }
  .labels, .page-header, #filters {
    background: $projects-color;
    color: white;
    a { color: white; }
  }
}

.table {
  .project {
    @extend %row;
  }
}

.project-leaders {
  a {
    &:not(:last-child):after { content: ', '; }
  }
}
