#projects-table {
  a { color: $projects-color; }
  th.leading { text-align: center; }
  th.people_count, th.notes_count { text-align: right; }
  th.created_at { text-align: right; }
  th.updated_at { text-align: right; }
}
.projects-filters {
  .apply { color: $projects-color; }
}
#project-form {
  @include row;
  .name-field, .status-field, .school-field {
    @include span-columns(4);
  }
  .school-field { @include omega; }
}
body.projects {
  .titlebar a, .leaderboard a {
    color: $projects-color;
  }
}
