body.reports {
  a {color: $reports-color; }
  a.submit {
    color: $retro-yellow;
    font-weight: bold;
  }
  th.created_at { text-align: right; }
  .table-filters {
    .q-field, .person-first-name-field, .person-last-name-field {
      @include span-columns(1.5);
    }
  }
}

#report-submissions-table {
  td:nth-child(3) {
    a {
      color: $base-font-color;
    }
  }
}

