body.report {
  a {color: $reports-color; }
  a.submit {
    color: $retro-yellow;
    font-weight: bold;
  }
  th.created_at { text-align: right; }
}

#report-submissions-table {
  td:nth-child(3) {
    a {
      color: $base-font-color;
    }
  }
}
