.logbook_schools {
  a { color: $schools-color; }
  .labels, .page-header, #filters {
    background: $schools-color;
    color: white;
    a { color: white; }
  }
}

.school-labels, .table .school {
  @extend %row;
  .school-site { @include span-columns(2); }
  .school-name { @include span-columns(4); }
  .school-dream-team { @include span-columns(1); }
  .school-schools { @include span-columns(1); }
  .school-engagements { @include span-columns(1); }
  .school-engagement-hours { @include span-columns(1); }
  .school-graph-nav-item {
    display: inline-block;
    width: auto;
  }
}

.school-facts {
  margin-top: 1em;
  margin-bottom: -2em;
  line-height: 1.5;
  border-bottom: 1px solid rgba(255,255,255,.5);
  padding-bottom: 2em;
  label {
    color: white;
    opacity: .75;
  }
}
