#nav {
  background: $engagements-color;
  @include linear-gradient($retro-light-gray, darken($retro-light-gray, 25%));
  color: white;
  a { color: white; }
  box-shadow: inset -5px 0 5px rgba(0,0,0,.1);
  header {
    color: rgba(255,255,255,.5);
  }
}

#app-name {
  border-bottom: 1px solid rgba(0,0,0,.1);
}
#app-sections, #search {
  border-top: 1px solid rgba(0,0,0,.1);
  font-size: 12px;
}

#time-filter-menu {
  font-size: 12px;
  border: none;
  font-family: $base-font-family;
  color: $retro-gray !important;
  webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: $base-accent-color;
}

header, label, th {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.5;
  color: $retro-light-gray;
  a { color: $retro-light-gray; }
}

table {
  width: 100%;
}

td {
  text-align: center;
}

thead {
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
}
tbody {
  tr:nth-child(even) {
    background: rgba(0,0,0,.03);
  }
}
.backgrid {
  tbody td {
    border-bottom: none;
  }
  thead th {
    background: rgba(0,0,0,.03);
    border-right: 1px solid $base-border-color;
  }
}

.stats-row-current {
  color: $retro-ocean;
  font-weight: 700;
}

.section {
  border-bottom: 1px solid $base-border-color;
  &:last-child { border-bottom: none; }
}
.section-header, .highcharts-title {
  font-weight: 700 !important;
}


.highcharts-container {
  .highcharts-title {
    width: 100% !important;
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
