a {
  text-decoration: none;
  color: $base-accent-color;
}

header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.5;
  margin-top: 15px;
}
#nav, #user {
  color: $base-background-color;
  a { color: $base-background-color; }
  header { opacity: 0.8 }
}
