#nav {
  background-color: $retro-light-gray;
  @include transition(background .5s);
  color: white;
  a { color: white; }
  box-shadow: inset -5px 0 5px rgba(0,0,0,.1);
  -webkit-font-smoothing: antialiased;
  header {
    color: rgba(255,255,255,.5);
  }
  * {
    z-index: 1;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include linear-gradient(transparent, rgba(0,0,0,.5));
    z-index: 0;
  }
}
body[data-controller=dashboard] #nav {
  background-color: $retro-light-gray;
}
body[data-controller=people] #nav {
  background-color: $people-color;
}
body[data-controller=engagements] #nav {
  background-color: $engagements-color;
}
body[data-controller=projects] #nav {
  background-color: $projects-color;
}
body[data-controller=weekly-reports] #nav {
  background-color: $reports-color;
}

#app-name {
  border-bottom: 1px solid rgba(0,0,0,.1);
}
#app-sections, #search {
  border-top: 1px solid rgba(0,0,0,.1);
  font-size: 12px;
}

#app-sections {
  .nav-item.active {
    font-weight: bold;
  }
}

#time-filter-menu {
  font-size: 12px;
  border: none;
  font-family: $base-font-family;
  color: $retro-gray !important;
  webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: $base-accent-color;
}

header, label, th {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.5;
  color: $retro-light-gray;
  a { color: $retro-light-gray; }
}

table {
  width: 100%;
}

td {
  text-align: center;
}

thead {
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
}
tbody {
  tr:nth-child(even) {
    background: rgba(0,0,0,.03);
  }
}
.backgrid {
  tbody td {
    border-bottom: none;
    text-transform: capitalize;
  }
  thead th {
    background: rgba(0,0,0,.03);
    border-right: 1px solid $base-border-color;
  }
}

.stats-row-current {
  color: $retro-ocean;
  font-weight: 700;
}

.section {
  border-bottom: 1px solid $base-border-color;
  &:last-child { border-bottom: none; }
}
.section-header, .highcharts-title {
  font-weight: 700 !important;
}


.highcharts-container {
  .highcharts-title {
    width: 100% !important;
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.leaderboard {
  text-transform: capitalize;
  border: none;
  label {
    background: $retro-yellow;
    padding: 0 5px;
    color: $retro-black;
  }
}
