#new_session
  .link
    = button_to 'Staff', '/auth/google_oauth2', class: 'highlight'
  %br
  .logo= image_tag asset_path('tfplogo.svg')
  %br
  .link
    = button_to 'Students', '/auth/facebook', class: 'success'
