= link_to 'Log in with Facebook', '/auth/facebook', class: 'highlight button'
%h6 or
- if flash[:notice]
  %p.alert=flash[:notice]
= form_tag sessions_path do
  =label_tag :email
  =text_field_tag :email, params[:email], placeholder: 'email'
  =label_tag :password
  =password_field_tag :password, params[:password], placeholder: 'password'
  =submit_tag "Go!"
%hr
%p
  First time here?
  =link_to 'Register', new_identity_path
