<ul class='tabs'>
  <% for (var i=0; i<tabs.length; i++) { %>
    <li class='tab' data-presenter='<%= tabs[i].presenter %>'>
      <span class='mega-octicon octicon-<%= tabs[i].icon %>'></span>
      <%= tabs[i].label %>
    </li>
  <% } %>
</ul>
