<div id='app'>
  <div id='phonebook-people'></div>
  <div id='phonebook-engagements'></div>
  <div id='phonebook-projects'></div>
  <div id='phonebook-nav' class='tab-bar'>
    <div class='tab'>Engagements</div>
    <div class='tab'>Projects</div>
    <div class='tab'>People</div>
  </div>
</div>
