:javascript
  $(document).ready(function(){
    $("#{container}").highcharts({
      credits: false,
      colors: #{colors},
      chart: {
        type: 'bubble',
        zoomType: 'xy',
        backgroundColor: "#f6f7f6",
      },
      title: false,
      xAxis: {
        title: {
          text: 'Time Logged (hrs)'
        }
      },
      yAxis: {
        title: {
          text: 'Engagements Attended (count)'
        }
      },
      legend: {
        layout: 'horizontal',
        verticalAlign: 'bottom',
      },
      plotOptions: {
        bubble: {
          tooltip: {
            headerFormat: "",
            pointFormat: "<b>{point.title}</b><br>{series.name}<br>{point.x} Hours, {point.y} Engagements<br>{point.z} Projects"
          },
          events: {
            click: function(event) {
              path = "/logbook/people/" + event.point.id
              path += "?scope_id=" + ds.CONSTANTS.scope.id + "&scope_type=" + ds.CONSTANTS.scope.type
              location = path
            }
          }
        }
      },
      series: #{JSON.dump(data)}
    })
  })
