.show-record
  %header
    %h1 Editing Person
  .button-actions
    =link_to "Cancel", logbook_person_path(@person), class: 'cancel button'
    =link_to "Destroy", logbook_person_path(@person), class: 'delete button', data: { method: 'delete', confirm: "Are you sure?"}


= render 'form'
