.page-header
  %h1 People
.labels.person-labels
  .person-first-name=link_to_unless_current 'first', scoped_url_for(sort: 'first_name')
  .person-last-name=link_to_unless_current 'last', scoped_url_for(sort: 'last_name')
  .person-school=link_to_unless_current 'school', scoped_url_for(sort: 'school_id')
  .person-role=link_to_unless_current 'role', scoped_url_for(sort: 'role')
  .person-grade=link_to_unless_current 'grade', scoped_url_for(sort: 'grade')
  .person-primary-projects=link_to_unless_current 'Prj. Lead', scoped_url_for(with_projects: 'primary', sort: 'projects_count DESC')
  .person-secondary-projects=link_to_unless_current 'Prj. Team', scoped_url_for(with_projects: 'secondary', sort: 'projects_count DESC')
  .person-coaching-sessions=link_to_unless_current 'Coach Hrs', scoped_url_for(with_hours: 'Coaching Session', sort: 'engagement_hours DESC')
  .person-meetings=link_to_unless_current 'Meetings', scoped_url_for(with_engagements: 'Meeting', sort: 'engagements_count DESC')
  .person-workshops=link_to_unless_current 'Workshops', scoped_url_for(with_engagements: 'Workshop', sort: 'engagements_count DESC')
  .person-events=link_to_unless_current 'Events', scoped_url_for(with_engagements: 'Event', sort: 'engagements_count DESC')

%ul.table.people= render @people
=paginate @people rescue nil
