%ul.people
  %li.person.new-person
    = form_for [:logbook, @person] do |f|
      %label New
      .person-first-name
        =f.text_field :first_name, placeholder: 'First name', required: true
      .person-last-name
        =f.text_field :last_name, placeholder: 'Last name', required: true
      .person-grade
        =f.select :grade, Person::GRADE_ENUM
      .person-school
        =f.select :school_id, current_user.schools.map{|s| [s.name, s.id] }
      .person-actions
        =f.hidden_field :role, value: 'student'
        = f.submit "Add Person"
  %li.labels.person
    .person-first-name First
    .person-last-name Last
    .person-grade Grade
    .person-school School
    .person-actions Actions
  = render @people
=paginate @people
