.page-header
  %h1= pluralize @projects.total_count, "Project"
.labels.project-labels
  .project-updated-at=table_link_to 'Updated', user_sort: 'updated_at DESC'
  .project-name=table_link_to 'Name', user_sort: 'name'
  .project-description=table_link_to 'Description', user_sort: 'description'
  .project-leaders=table_link_to 'Leaders', with_people: 'leaders', user_sort: 'people_count DESC'
  .project-participants=table_link_to 'Supporters', with_people: 'participants', user_sort: 'people_count DESC'
  .project-assets.number=table_link_to 'Media', with_association: 'assets', user_sort: 'assets_count DESC'
  .project-school=table_link_to 'School', user_sort: 'school_id'
  .project-created-at=table_link_to 'Created', user_sort: 'created_at DESC'

%ul.table.projects= render @projects
=paginate @projects rescue nil
%section= page_entries_info @projects
