=render(partial: 'search_results', locals: {collection: @projects}) if params[:q]

.row.search-add
  .g6.search
    %label Search
    %form{action: logbook_projects_path, method: 'GET'}
      %input{name: 'q', type: 'text', placeholder: 'Search...'}
      %input{type: 'submit', value: 'Search'}
  .g6.add
    %label Add
    = form_for [:logbook, @project] do |f|
      .project-name
        =f.text_field :name, placeholder: 'name', required: true
      .project-school
        =f.select :school_id, current_user.schools.map{|s| [s.name, s.id] }
      .project-actions
        = f.submit "Add"
%ul.projects
  %li.labels.project
    .project-name=link_to 'Name', url_for(sort: 'name')
    .project-leaders Leaders
    .project-school School
    .project-actions Actions
  = render @projects
=paginate @projects rescue nil
