<div class="panel">
  <h1>Hi, <%= user.first_name %>.</h1>
  <p>I am an inspirational message.</p>
  <div class="stats">
    <table>
      <tr>
        <th colspan=2>Student Engagement</th>
      </tr>
      <tr>
        <td>Average Engagement Score</td>
        <td>5.0</td>
      </tr>
      <tr>
        <td>Core Students in Leadership Roles</td>
        <td>10 / 22</td>
      </tr>
      <tr>
        <td>These students haven't been very engaged:</td>
        <td class='small'>Selena Kyle, Dick Grayson, Bruce Wayne</td>
      </tr>
    </table>
    <table>
      <tr>
        <th colspan=2>Student Attendance</th>
      </tr>
      <tr>
        <td># students you've reached</td>
        <td>38</td>
      </tr>
      <tr>
        <td># students you want to reach</td>
        <td>400</td>
      </tr>
      <tr>
        <td># students left to reach</td>
        <td>362</td>
      </tr>
      <tr>
        <td>Students who haven't been attending:</td>
        <td class='small'>Tina Weymouth, Chris Frantz, Jerry Harrison</td>
      </tr>
    </table>
    <table>
      <tr>
        <th colspan=2>Faculty Interactions</th>
      </tr>
      <tr>
        <td>Average Engagement Score</td>
        <td>5.0</td>
      </tr>
      <tr>
        <td>Core Students in Leadership Roles</td>
        <td>10 / 22</td>
      </tr>
      <tr>
        <td>One-on-Ones Last Week</td>
        <td>8</td>
      </tr>
      <tr>
        <td>These students haven't been showing up:</td>
        <td>Tina Weymouth, Chris Frantz, Jerry Harrison</td>
      </tr>
    </table>
    <table>
      <tr>
        <th colspan=4>Comparisons</th>
      </tr>
      <tr>
        <td></td>
        <td>Site Avg</td>
        <td>National Avg</td>
        <td>Your Avg</td>
      </tr>
      <tr>
        <td># Faculty Interactions</td>
        <td>120</td>
        <td>111</td>
        <td>138</td>
      </tr>
      <tr>
        <td>% Faculty Reached</td>
        <td>23%</td>
        <td>20%</td>
        <td>33%</td>
      </tr>
      <tr>
        <td>Engagement</td>
        <td>4.8</td>
        <td>4.1</td>
        <td>5.0</td>
      </tr>
    </table>
  </div>

</div>
