= s3_uploader_form callback_url: '/api/v1/assets', callback_param: "asset[external_url]", class: 's3-uploader', data: { attachable_id: record.id, attachable_type: record.class.name } do
  = file_field_tag :file, multiple: true
  %script#template-upload{type: 'text/x-tmpl'}
    :markdown
      <div id="file-{%=o.unique_id%}" class="upload">
        {%=o.name%}
        <div class="progress"><div class="bar" style="width: 0%"></div></div>
      </div>
