#people_list.list
  .list-title
    %h1 People
    .r-menu
      =link_to "New", new_person_path
  .list-body.scrollable
    - @people.each do |person|
      %a.list-item{href: person_path(person)}
        .list-item-graphic=person.initials
        .list-item-label=person.name
    = link_to_next_page @people, 'Load More'

#people_detail.panel.list-detail

