#projects_list.list
= form_for @project, html: { class: 'list-detail panel' } do |f|
  .panel-title
    %h1 New Project
    .l-menu= link_to "Cancel", projects_path
    .r-menu
      = f.submit 'Done'
  .panel-body.scrollable.pad
    = render partial: 'form', locals: {f: f}
