@include keyframes(slideInHorizontal) {
  from {
    @include transform(translate3d(102%,0,0));
  }
  to {
    @include transform(translate3d(0,0,0));
  }
}
@include keyframes(slideOutHorizontal) {
  from {
    @include transform(translate3d(0,0,0));
  }
  to {
    @include transform(translate3d(102%,0,0));
  }
}
@include keyframes(slideInVertical) {
  from {
    @include transform(translate3d(0,102%,0));
  }
  to {
    @include transform(translate3d(0,0,0));
  }
}
@include keyframes(slideOutVertical) {
  from {
    @include transform(translate3d(0,0,0));
  }
  to {
    @include transform(translate3d(0,102%,0));
  }
}
@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@include keyframes(fadeOut) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@include keyframes(collapse) {
  from {
    @include transform(scale(1,1));
  }
  to {
    @include transform(scale(0.0000001,0.0000001));
  }
}
.transitions {
  @include transition-property(transform);
  @include transition-duration(0.6s);
  // eased
  @include transition-timing-function(cubic-bezier(0.23,1,0.32,1));
}

.slide-in-horizontal {
  @include animation(slideInHorizontal .6s);
  @include animation-timing-function(cubic-bezier(0.23,1,0.32,1));
}
.slide-out-horizontal {
  @include animation(slideOutHorizontal .6s);
  @include animation-timing-function(cubic-bezier(0.23,1,0.32,1));
}
.slide-in-vertical {
  @include animation(slideInVertical .6s);
  @include animation-timing-function(cubic-bezier(0.23,1,0.32,1));
}
.slide-out-vertical {
  @include animation(slideOutVertical .6s);
  @include animation-timing-function(cubic-bezier(0.23,1,0.32,1));
}
.fade-in {
  @include animation(fadeIn .6s);
  @include animation-timing-function(cubic-bezier(0.23,1,0.32,1));
}
.fade-out {
  @include animation(fadeOut .6s);
  @include animation-timing-function(cubic-bezier(0.23,1,0.32,1));
}
.fade-in-fast {
  @include animation(fadeIn .01s);
}
.collapse {
  @include animation(collapse .5s);
}

.list {
  @extend .transitions;
}

.shifted {
  @include transform(translate3d(-50%,0,0));
  pointer-events: none;
}

.list-item {
  @include transform-origin(left top);
  @include transform(translate3d(0,0,0));
  @include transition();
  &.list-item-open {
    @include transform(translate3d(-200px,0,0));
  }
}

.detail.swiped-out {
  @include transform(translate3d(100%,0,0));
}


