@include keyframes(enterStageRight) {
  from {
    @include transform(translate3d(100%,0,0));
  }
  to {
    @include transform(translate3d(0,0,0));
  }
}
@include keyframes(exitStageRight) {
  from {
    @include transform(translate3d(0,0,0));
  }
  to {
    @include transform(translate3d(100%,0,0));
  }
}
@include keyframes(enterStageLeft) {
  from {
    @include transform(translate3d(-100%,0,0));
  }
  to {
    @include transform(translate3d(0,0,0));
  }
}
@include keyframes(exitStageLeft) {
  from {
    @include transform(translate3d(0,0,0));
  }
  to {
    @include transform(translate3d(-100%,0,0));
  }
}
@include keyframes(fallin) {
  from {
    @include transform(translate3d(0,10%,0) scale(0.9));
    opacity: 0;
  }
  to {
    @include transform(translate3d(0,0,0) scale(1));
    opacity: 1;
  }
}
@include keyframes(fallout) {
  from {
    @include transform(translate3d(0,0,0) scale(1));
    opacity: 1;
  }
  to {
    @include transform(translate3d(0,10%,0) scale(0.9));
    opacity: 0;
  }
}
@include keyframes(dropIn) {
  from {
    @include transform(translate3d(0,-100%,0));
  }
  to {
    @include transform(translate3d(0,0,0));
  }
}
@include keyframes(riseOut) {
  from {
    @include transform(translate3d(0,0,0));
  }
  to {
    @include transform(translate3d(0,-100%,0));
  }
}
@include keyframes(dropOut) {
  from {
    @include transform(translate3d(0,0,0));
  }
  to {
    @include transform(translate3d(0,100%,0));
  }
}
@include keyframes(floatIn) {
  from {
    @include transform(translate3d(0,-100%,0));
  }
  to {
    @include transform(translate3d(0,0,0));
  }
}
@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@include keyframes(fadeOut) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@include keyframes(collapse) {
  from {
    @include transform(scale(1,1));
  }
  to {
    @include transform(scale(0.0000001,0.0000001));
  }
}
.transitions {
  @include transition-property(transform);
  @include transition-duration(0.6s);
  // eased
  @include transition-timing-function(cubic-bezier(0.23,1,0.32,1));
}

.animation-fallout {
  @include transform-origin(center top);
  @include animation(fallout .4s);
  @include animation-timing-function(cubic-bezier(0.23,1,0.32,1));
}
.animation-fallin {
  @include transform-origin(center top);
  @include animation(fallin .4s);
  @include animation-timing-function(cubic-bezier(0.23,1,0.32,1));
}
.animation-dropin {
  @include animation(dropIn .4s);
  @include animation-timing-function(cubic-bezier(0.23,1,0.32,1));
}
.animation-dropout {
  @include animation(dropOut .4s);
  @include animation-timing-function(cubic-bezier(0.23,1,0.32,1));
}
.animation-riseout {
  @include animation(riseOut .4s);
  @include animation-timing-function(cubic-bezier(0.23,1,0.32,1));
}
.animation-floatin {
  @include animation(floatIn .4s);
  @include animation-timing-function(cubic-bezier(0.23,1,0.32,1));
}
.enter-stage-right {
  @include animation(enterStageRight .6s);
  @include animation-timing-function(cubic-bezier(0.23,1,0.32,1));
}
.exit-stage-right {
  @include animation(exitStageRight .6s);
  @include animation-timing-function(cubic-bezier(0.23,1,0.32,1));
}
.enter-stage-left {
  @include animation(enterStageLeft .6s);
  @include animation-timing-function(cubic-bezier(0.23,1,0.32,1));
}
.exit-stage-left {
  @include animation(exitStageLeft .6s);
  @include animation-timing-function(cubic-bezier(0.23,1,0.32,1));
}
.fade-in {
  @include animation(fadeIn .6s);
  @include animation-timing-function(cubic-bezier(0.23,1,0.32,1));
}
.fade-out {
  @include animation(fadeOut .6s);
  @include animation-timing-function(cubic-bezier(0.23,1,0.32,1));
}
.fade-in-fast {
  @include animation(fadeIn .01s);
}
.animation-collapse {
  @include animation(collapse .5s);
}



