#engagements-tab.current {
  color: $engagements-color;
}
.engagement-detail {
  .engagement-info {
    h2 { font-weight: 600; }
  }
  .calendar-date {
    float: left;
    margin: 0 15px 15px 0;
    padding: 6px 1em 0;
  }
  .engagement-duration {
    margin-bottom: 15px;
  }
  .engagement-date {
    width: 30px;
  }
}
.engagement-notes {
  h6 { margin-top: 15px; }
  margin-top: 15px;
  clear: both;
}

.engagement-actions {
  clear: both;
  .button {
    display: block;
    margin: 1em 0;
  }
}

.engagement-attendance {
}

#engagement-attendees-list {
}

#phonebook-engagements {
  .titlebar, .row-timestamp, .card h4 { color: $engagements-color; }
  .duplicate {
    background: $engagements-color;
  }
  .recessed-button {
    background: $engagements-color;
  }
  .loading {
    border-left:3px solid $engagements-color;
    border-right:3px solid $engagements-color;
    border-bottom:3px solid $engagements-color;
    border-top:3px solid lighten($engagements-color, 25%);
  }
  .upload .progress{
    border: 3px solid $engagements-color;
    .bar { background: $engagements-color; }
  }
  .headcount-field {
    display: none;
  }
  form[data-kind=event] {
    .headcount-field {
      display: block;
    }
  }
}
.detail-modal.engagements {
  .fancy-search-form {
    background: $engagements-color;
  }
  .multi-select-options {
    .row {
      background: $engagements-color;
    }
  }
}
