.engagement-detail {
  .calendar-date {
    float: left;
    margin: 0 15px 15px 0;
    padding: 6px 1em 0;
  }
  .engagement-duration {
    margin-bottom: 15px;
  }
  .engagement-date {
    width: 30px;
  }
}
.engagement-notes {
  h6 { margin-top: 15px; }
  margin-top: 15px;
  clear: both;
}

.engagement-actions {
  clear: both;
  .button {
    display: block;
    margin: 1em 0;
  }
}

.attending-person.list-item {
  padding-left: 12px;
  .list-item-timestamp {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
  }
  &:after {
    left: 0;
  }
}
.engagement-attendance {
  .fancy-search-form { background: $engagements-color; }
}

#engagement-attendees-list {
  .attending-person {
    background: $engagements-color;
    color: white;
    border-top: 1px solid lighten($engagements-color, 10%);
    &:after { display: none; }
    border-bottom: 1px solid darken($engagements-color, 10%);
    .list-item-title { color: white; }
    .list-item-timestamp {
      opacity: .75;
      color: white;
      font-weight: 300;
      &:empty:before {
        content: 'Absent';
        display: block;
        color: $dark-gray;
      }
    }
  }
}


#phonebook-engagements {
  .duplicate {
    background: $engagements-color;
  }
  .recessed-button {
    background: $engagements-color;
  }
  .loading {
    border-left:3px solid $engagements-color;
    border-right:3px solid $engagements-color;
    border-bottom:3px solid $engagements-color;
    border-top:3px solid lighten($engagements-color, 25%);
  }
  .upload .progress{
    border: 3px solid $engagements-color;
    .bar { background: $engagements-color; }
  }
}
