.engagement-detail {
  .calendar-date {
    float: left;
    margin: 0 15px 15px 0;
    padding: 6px 1em 0;
  }
  .engagement-duration {
    margin-bottom: 15px;
  }
  .engagement-date {
    width: 30px;
  }
}
.engagement-notes {
  h6 { margin-top: 15px; }
  margin-top: 15px;
  clear: both;
}

.engagement-actions {
  clear: both;
  .button {
    display: block;
    margin: 1em 0;
  }
}

.attending-person.list-item {
  padding-left: 12px;
  .list-item-timestamp {
    right: 0;
    color: $light-green;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
  }
  &:after {
    left: 0;
  }
}
.engagement-attendees .list-item-timestamp {
  &:empty:before {
    content: 'Absent';
    color: $light-gray;
  }
}

#engagement-attendees-list {
  &:before {
    display: block;
    content: 'Attendees:';
    font-weight: 600;
    background: $lightest-gray;
    padding: 0 4px;
  }
}

#engagement-search-results:not(:empty) {
  margin-bottom: 15px;
  &:before {
    display: block;
    content: 'Search Results:';
    font-weight: 600;
    background: $lightest-gray;
    padding: 0 4px;
  }
}
