.field {
  position: relative;
  @include clearfix;
  border-bottom: 1px solid $base-border-color;
  input, select, label {
    box-sizing: content-box;
    border: none;
    font-size: 1em;
    padding: 15px 0;
    height: 1em;
    line-height: 1;
    font-family: $base-font-family;
    font-weight: normal;
    border-radius: none;
  }
  input, select {
    width: 100%;
    @include appearance(none);
    background-color: white;
    &:focus {
      outline: none;
    }
  }
  input[type=checkbox] {
    display: inline-block;
    width: auto;
  }
  label {
    position: absolute;
    left: 0;
    top: 0;
    color: $ios-gray;
  }
  select, input {
    float: right;
    &:focus {
      color: $ios-blue;
    }
  }
  select, input[type=file] {
    direction: rtl;
    text-align: right;
  }
  input[type=date], input[type=number] {
    display:block;
    text-align: right;
    @include appearance(button);
  }
}
.text-field {
  label {
    display: none;
  }
}
.longform-field {
  label { display: none; }
  textarea {
    margin-top: 15px;
    width: 100%;
    height: 5em;
    line-height: 1.2;
    resize: none;
    border: none;
    box-sizing: content-box;
    font-size: 1em;
    font-family: $base-font-family;
    &:focus { outline: none; }
  }
}
.number-field {
  input { direction: ltr; }
}

.actions-field {
  visibility: hidden;
  pointer-events: none;
}


.selector-field {
  select { display: none; }
  input { float: none; }
  ul { clear: both; }
  li { @include transition(); }
  .selector-search-results {
    li {
      display: block;
      padding: 15px;
      border-top: 1px solid $base-border-color;
      color: $ios-blue;
      &:active { background: $base-border-color; }
    }
  }
  .selector-options {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    li {
      display: inline-block;
      background: $ios-light-gray;
      /*color: white;*/
      line-height: 1;
      padding: 10px;
      border-radius: 5px;
      margin: 5px 5px 5px 0;
      &:active {
        background: $ios-red;
        color: white;
      }
      &:after {
        content: "\e205";
        /*content: "\e287";*/
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        font-size: .6666667em;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: inline-block;
        margin-left: 3px;
      }
    }
  }
}

