.panel {
  padding: 1em;
}

.form-description {
  margin-bottom: 30px;
}
.field {
  margin-bottom: 20px;
}

.dual-action {
  @include clearfix;
  input {
    width: 50%;
    float: left;
    clear: none;
  }
}

.titlebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 45px;
  z-index: 10000;
  .l-menu, .r-menu {
    position: absolute;
    top: 0;
  }
  .button {
    padding: 0 15px;
  }
  .l-menu {
    left: 0;
  }
  .r-menu {
    right: 0;
  }
}

.list-item {
  line-height: 45px;
  height: 45px;
  padding: 0 1em;
}
.search {
  height: 45px;
  position: relative;
  z-index: 1;
}
.index {
  &.hidden {
    display: none;
  }
}

