.profile-info {
  line-height: 1.2;
  padding-left: 1rem;
  h1 { font-size: 1.3333334em; }
  p { text-transform: capitalize; }
  li {
    display: block;
    overflow: hidden;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  label {
    color: $ios-gray;
    text-transform: lowercase;
    display: block;
  }
}

#person-projects {
  border-top: 1px solid $base-border-color;
  .toggle {
    margin: -15px;
    padding: 15px;
  }
  #projects-list {
    display: none;
  }
  .icon-keyboard_arrow_down {
    display: inline-block;
    @include transition;
  }
  .expanded {
    #projects-list {
      display: block;
    }
    .icon-keyboard_arrow_down {
      @include transform(rotateX(-180deg));
    }
  }
}
#person-engagements {
  .action-header {
    color: $engagements-color;
  }
  .date-month {
    background: $engagements-color;
  }
}
.add-engagement.screen {
  .panel-header { color: $engagements-color }
}
.people {
  .titlebar {
    .button { color: $people-color; }
  }
}
