#people-tab.current {
  color: $people-color;
}
#phonebook-people {
  .titlebar, .row-timestamp, .card h4 { color: $people-color; }
}
.person-name, .person-role {
  text-transform: capitalize;
}

.person-contact {
  a {
    text-decoration: none;
    color: $base-font-color;
  }
  .icon {
    font-size: 2em;
    margin-top: 15px;
  }
}
