@import 'reset';
@import '../logbook/icons';
@import 'variables';
@import 'ios';
@import 'bourbon';
@import 'neat';
@import '../shared/theme';
@import 'theme';
@import 'forms';
@import 'modules';
@import 'engagements';
@import 'people';
@import 'projects';
@import '../shared/animations';
@import 'animations';
@import 'loading';
@import 'sessions';
//@import 'standalone';

* {
  box-sizing: border-box;
  cursor: default;
  -webkit-backface-visiblity: hidden;
}

html, body {
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  > .lb-loading {
    @include vertical-center;
    @include horizontal-center;
    margin: 0;
  }
}

textarea {
  white-space: pre-wrap;
}

pre {
  white-space: pre-wrap;
  font-family: $base-font-family;
  margin: 0 auto;
  line-height: 1.2;
}

