/*
= require s3_direct_upload_progress_bars
= require googlecons
*/
@import 'variables';
$light-gray: #999;
@import 'bourbon';
@import 'neat';
@import 'forms';
@import 'modules';
@import 'engagements';
@import 'people';
@import 'theme';
@import 'animations';
@import 'loading';

* {
  box-sizing: border-box;
  cursor: default;
  -webkit-backface-visiblity: hidden;
}

html, body, #app, #phonebook {
  height: 100%;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
}

#phonebook {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
}

textarea {
  white-space: pre-wrap;
}
pre {
  white-space: pre-wrap;
  font-family: $base-font-family;
  margin: 0 auto;
  line-height: 1.2;
}

#installer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 12%;
  background: $blue;
  color: white;
  text-align: center;
  .octicon {
    font-size: 64px !important;
  }
}

.standalone {
  .focusin {
    .detail-title, .list-title {
      * { display: none; }
    }
  }
}

