/*
= require s3_direct_upload_progress_bars
= require octicons
= require animate
*/
@import 'bourbon';
@import 'base/base';
@import 'neat';

body {
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 44px;
  text-align: center;
  width: 100%;
  background: $blue;
  color: white;
}

.tab {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding: 0 10px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 9px;
  max-width: 60px;
}

.list-title {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  text-align: center;
  background: $blue;
  border-top: 20px solid $blue;
  color: white;
  h1 {
    font-size: 1em;
    line-height: 36px;
  }
}
.list-items {
  margin: 41px auto 44px;
  max-width: 768px;
}
.list-item {
  min-height: 45px;
  padding: 15px;
  line-height: 1.2;
  &.selected {
    background: $blue;
    color: white;
  }
}

.list-item-title {
  font-weight: bold;
}
.list-item-description {
}


