#projects-tab.current {
  color: $projects-color;
}

#phonebook-projects {
  .titlebar, .row-timestamp, .card h4 { color: $projects-color; }
  .detail-content header h2 {
    white-space: normal;
  }
}


