@mixin hairline {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: $base-border-color;
  @include transform-origin(left bottom);
  @include transform(scaleY(0.5));
}

body {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: $base-font-family;
  background-color: black;
  color: white;
  &.standalone {
    .titlebar {
      border-top: 1px solid $base-border-color;
    }
  }
}

a {
  text-decoration: none;
  color: white;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: bold;
}

input, select, textarea {
  color: white;
}

.actions-field input {
  background: $retro-blue;
  &.warning {
    background: $retro-yellow;
  }
}

.titlebar {
  font-weight: bold;
  line-height: 45px;
  text-align: center;
  border-bottom: 1px solid $base-border-color;
  background: rgba(0,0,0,.9);
  color: $people-color;
  .button {
    color: $base-border-color;
    font-weight: 400;
  }
}

.centered {
  text-align: center;
}

.list-item {
  font-weight: 500;
  border-top: 1px solid $base-border-color;
  background-color: $retro-blue;
  &.active {
    @include filter(saturate(50%));
  }
}

.search {
  position: relative;
  padding: 7px 10px;
  input {
    border: none;
    border-radius: 5px;
    background: $retro-black;
    padding: 5px;
    font-size: 12px;
    @include transition;
  }
  .reset {
    position: absolute;
    top: 0;
    right: 65px;
    padding: 15px;
    opacity: 0;
    @include transition;
  }
  .cancel {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 45px;
    padding: 0 15px;
    opacity: 0;
    @include transition;
  }
  &.focused {
    input {
      width: calc(100% - 65px);
    }
    .cancel, .reset { opacity: 1; }
  }
}
