$base-border-color: rgba(0,0,0,.25);
$base-font-color: rgba(0,0,0,.5);
$retro-blue: lighten($retro-blue, 10%);
body {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: $base-font-family;
  background-color: $retro-blue;
  color: $base-font-color;
  &.standalone {
    padding-top: 20px;
    &:before {
      content: '';
      display: block;
      position: fixed;
      background: $retro-blue;
      top: 0;
      left: 0;
      height: 20px;
      z-index: 100;
      width: 100%;
    }
    .titlebar {
      top: 20px;
    }
  }
}

a {
  text-decoration: none;
  color: $retro-white;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: bold;
}

input, select, textarea {
  color: white;
}

.actions-field input {
  background: $retro-blue;
  &.warning {
    background: $retro-yellow;
  }
}

.btn {
  font-weight: bold;
  color: white;
  text-align: center;
  height: 45px;
  line-height: 45px;
  margin: 15px auto;
  &:active {
    color: $base-font-color;
    background: white;
    border-color: white;
  }
}

.titlebar {
  font-weight: bold;
  line-height: 45px;
  text-align: center;
  border-bottom: 0.5px solid $base-border-color;
  background: $retro-blue;
  .button {
    font-weight: 400;
    color: $retro-white;
  }
}

.centered {
  text-align: center;
}

.list-item {
  font-weight: 500;
  border-top: 0.5px solid $base-border-color;
  color: $retro-white;
  &.active {
    @include filter(saturate(50%));
  }
  &.createable {
    background-color: $retro-green;
  }
}

.search {
  padding: 7px 10px;
  ::-webkit-input-placeholder {
   color: rgba(255,255,255,.5);
  }
  ::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255,255,255,.5);
  }
  :-ms-input-placeholder {
   color: rgba(255,255,255,.5);
  }
  input {
    border: none;
    border-radius: 5px;
    background: $base-border-color;
    padding: 5px;
    font-size: 12px;
    @include transition;
  }
  .reset {
    position: absolute;
    top: 0;
    right: 65px;
    padding: 15px;
    opacity: 0;
    @include transition;
  }
  .cancel {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 45px;
    padding: 0 15px;
    opacity: 0;
    @include transition;
  }
  .focused {
    input {
      width: calc(100% - 65px);
    }
    .cancel, .reset { opacity: 1; }
  }
}

.facts {
  line-height: 20px;
  h1 { margin-bottom: 5px; }
  .fact {
    font-size: 12px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $retro-black;
  }
  label {
    color: $retro-white;
    &:after {
      content: ':';
    }
  }
}
