@mixin heading {
  font-weight: 600;
}

@mixin hairline {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: $base-border-color;
  @include transform-origin(left bottom);
  @include transform(scaleY(0.5));
}

body {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

body, .detail-content, .list-items {
  background: $base-background-color;
}

.tab-bar, .list-title, .detail-title {
  background: white;
  button, .button {
    font-weight: 400;
  }
  &:after {
    @include hairline;
  }
}

.list-title, .detail-title {
  h1 {
    font-size: 15px;
    line-height: 45px;
    font-weight: 700;
  }
}

.list-item {
  &.selected {
    background: $base-border-color;
  }
  .list-item-controls {
    color: white;
    background: $light-red;
    font-weight: bold;
    text-align: center;
  }
  .delete {
    background: $light-red;
  }
  &:after {
    @include hairline;
    left: 15px;
  }
  &.deleting {
    background: $light-red;
    .list-item-controls {
      background: $light-red;
      * { background: $light-red; }
    }
  }
}

.list-item-title {
  @include heading;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 80px;
}

.list-item-excerpt {
  color: $light-gray;
}

.list-item-timestamp {
  color: $light-gray;
  font-weight: normal;
}

.calendar-date {
  text-transform: uppercase;
}
.calendar-date-month {
  color: $blue;
}

#phonebook-engagements {
  .list-title, .detail-title, .list-item-timestamp, .card h4 { color: $engagements-color; }
}

.engagement-detail {
  .engagement-name {
    @include heading;
  }
  .calendar-date {
    background: $lightest-gray;
  }
  .calendar-date-month {
    color: $light-red;
  }
  .calendar-date-day {
    margin-bottom: 8px;
  }
}

.engagement-school {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.engagement-notes {
  border-top: 0.5px solid $base-border-color;
  textarea {
    font-size: 12px;
  }
}

.button, button {
  font-weight: 700;
  &.new {
    font-size: 25px;
  }
}

#upload-form h3 { display: none; }

.upload {
  border-top: none;
  margin: 0;
  .progress {
    border: 3px solid $medium-gray;
    .bar { background: $medium-gray; }
    margin: 0 auto 4px;
  }
}

input, textarea {
  box-shadow: none;
  -webkit-appearance: none;
}
select {
  width: 100%;
}

@media screen and (orientation: portrait) {
  input[type=file] {
    visiblity: hidden;
    position: relative;
    width: 100%;
    height: 44px;
    line-height: 44px;
    -webkit-appearance: none;
    &:after {
      content: 'Choose Files...';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $dark-blue;
      color: white;
      font-weight: 600;
      text-align: center;
      border-radius: $base-border-radius;
    }
  }
}

.warning { color: $light-red; }

