<div id="people-detail" class="detail detail-with-toolbar">
  <form id="edit-person" name="person">
  <div class='detail-toolbar'>
    <div class='detail-toolbar-title'>Editing <%= first_name %></div>
    <div class='r-menu'>
      <button class='done'>Done</button>
    </div>
  </div>
  <div class='detail-content'>
      <div class="field">
        <label for="first_name"> First:</label>
        <input type="text" name="first_name" id="first_name" value="<%= first_name %>" >
      </div>

      <div class="field">
        <label for="last_name"> Last:</label>
        <input type="text" name="last_name" id="last_name" value="<%= last_name %>" >
      </div>

      <div class="field">
        <label for="role"> Role:</label>
        <select name="role" id="role">
          <option value="student" <% if(role == 'student'){ %>selected<% } %>>Student</option>
          <option value="faculty" <% if(role == 'faculty'){ %>selected<% } %>>Faculty</option>
        </select>
      </div>

      <div class="field">
        <label for="grade"> Grade:</label>
        <input type="number" name="grade" id="grade" value="<%= grade || 11 %>" min="9"  max="12">
      </div>

      <div class="field">
        <label for="core" class='inline-label'>Core:</label>
        <label class="label-switch">
          <input id="core" name="core" type="checkbox" <% if(JSON.parse(core)) { %>checked<% } %>>
          <div class="checkbox"></div>
        </label>
      </div>
  </div>
</form>
</div>
