<div class="list-item-graphic">
  <div class='initials'>
    <%= first_name.slice(0,1) %><%= last_name.slice(0,1) %>
  </div>
</div>
<div class="list-item-label">
  <%= first_name %> <%= last_name %>
</div>

