#engagements_list.list

= form_for [:logbook, @engagement], html: { class: 'list-detail panel' } do |f|
  .panel-title
    %h1 New Engagement
    .l-menu= link_to "Cancel", logbook_engagements_path
    .r-menu
      = f.submit 'Done'
  .panel-body.scrollable.pad
    = render partial: 'form', locals: {f: f}
