#engagements_detail.panel.list-detail
  .panel-title
    %h1 Showing Engagement
    .l-menu= link_to "Back", cic_school_path(@engagement.school)
  .panel-body.scrollable.pad
    %h1= @engagement.date.strftime("%D")
    %h3 Attendees:
    =@engagement.attendees.pluck(:first_name).join ", "

#engagements_list.list
