<div class='detail-content no-title scrollable'>
  <div class='multi-select'>
    <div class='multi-select-input-wrapper'>
      <input class='multi-select-input' type='text' name='q' autocomplete='false' autocorrect='false'>
      <div class='button done'>Done</div>
    </div>
    <div class='multi-select-options multi-select-search-results'></div>
    <div class='multi-select-options multi-select-selected'>
      <div class='loading'></div>
    </div>
  </div>
</div>
