<div class="panel">
  <div class='panel-title'>
    <h1>Impact Stats</h1>
    <div class="l-menu">
      <a class='refresh' href="#refresh"><span class='octicon octicon-sync'></span></a>
    </div>
  </div>
  <div class='panel-body scrollable pad'>
    <table>
      <tr>
        <th></th>
        <th>You</th>
        <th>Site Avg</th>
        <th>National Avg</th>
      </tr>
    </table>
    <div class='update button'>Check for App Updates</div>
  </div>
</div>
