/ list the schools in this city
/ gimme some people stats
/ gimme some engagement stats
/ gimme some project stats
.row
  %section#projects-timeline
    .graph{data: { url: projects_timeline_graph_api_v1_site_path(current_scope) } }
      .loading
.row
  %section#engagements-per-week
    .graph{data: { url: engagements_per_week_graph_api_v1_site_path(current_scope) } }
      .loading
