.list
  .list-title
    %h1 Tasks
    .r-menu
      =link_to 'New', new_task_path
  .list-body.scrollable
    - @tasks.each do |task|
      %a.list-item.task{href: task_path(task), class: task.status}
        %h6= task.action
        - if task.complete
          %small High fives!
        - else
          %small Waiting on:
          = task.task_assignments.pending.includes(:assignee).pluck(:first_name).join(", ")
