<div id='app'>
  <div id='phonebook-engagements' class='tab-panel'></div>
  <div id='phonebook-people' class='tab-panel'></div>
  <div id='tabs' class='tab-bar'>
    <div class='tab icon-logbook_people' id='people-tab' data-controller='people'></div>
    <div class='tab icon-logbook_engagements' id='engagements-tab' data-controller='engagements'></div>
    <div class='tab icon-logbook_projects' id='projects-tab' data-controller='projects'></div>
  </div>
</div>
