<div id='app'>
  <div id='phonebook-engagements' class='tab-panel'></div>
  <div id='phonebook-people'></div>
  <div id='tabs' class='tab-bar'>
    <div class='tab icon-logbook_people' id='people-tab'></div>
    <div class='tab icon-logbook_engagements' id='engagements-tab'></div>
    <div class='tab icon-logbook_projects' id='projects-tab'></div>
  </div>
</div>
