<div class="titlebar">
  <div class='l-menu'>
    <div class='button close'>Close</div>
  </div>
  Menu
</div>
<div class="panel">
  <div class="field">
    <label>Logged in as <%= user.first_name %> <%= user.last_name %>.</label>
  </div>
  <div class='warning btn log-out'>Log Out</div>
</div>
