<header>
  <strong>Looks like this is your first time here.</strong>
</header>
<form>
  <div class="field role-field">
    <select id="role" name="role">
      <option value=""></option>
      <option value="student">student</option>
      <option value="teacher">teacher</option>
      <option value="staff">staff</option>
    </select>
    <label for="role">Role</label>
  </div>
  <div class="field actions-field">
    <input type="submit" value="Next" class="button" />
  </div>
</form>
