.show-record
  %header
    %h1 Editing Engagement

  = render 'form'

  =link_to "Delete Engagement", logbook_engagement_path(@engagement), class: 'delete', data: { method: 'delete', confirm: "Are you sure you want to delete this engagement?"}
