:javascript
  $(document).ready(function(){
    $("#{container}").highcharts({
      credits: false,
      colors: #{colors},
      chart: {
        type: 'bubble',
        zoomType: 'x',
        backgroundColor: "#ffffff",
      },
      title: false,
      xAxis: {
        type: 'datetime',
      },
      yAxis: {
        title: {
          text: 'Duration (hrs)'
        }
      },
      legend: {
        layout: 'horizontal',
        verticalAlign: 'bottom',
      },
      plotOptions: {
        bubble: {
          tooltip: {
            headerFormat: "{series.name}<br>",
            pointFormat: "<b>{point.title}</b><br>{point.y} Hrs, {point.z} Attendees" +
              "<br>{point.notes}"
          },
          events: {
            click: function(event) {
              path = "/logbook/engagements/" + event.point.id
              path += "?scope_id=" + ds.CONSTANTS.scope.id + "&scope_type=" + ds.CONSTANTS.scope.type
              location = path
            }
          }
        }
      },
      series: #{JSON.dump(data)}
    })
  })
