.filter
  .filter-label Schools
  .filter-options
    - schools = current_scope.is_a?(Site) ? current_scope.schools : current_user.schools
    - schools.each do |school|
      =link_to school.name, logbook_set_scope_path(scope_id: school.id, scope_type: 'school')

.filter
  .filter-label Sites
  .filter-options
    - sites = current_user.sites || Site.all
    - sites.each do |site|
      =link_to site.name, logbook_set_scope_path(scope_id: site.id, scope_type: 'site')

