#sidebar
  %img.avatar{src: current_user.avatar}/
  %ul.tabs
    = nav_link_to "<span class='mega-octicon octicon-dashboard'></span> Home", cic_root_url
    = nav_link_to "<span class='mega-octicon octicon-checklist'></span> Tasks", cic_tasks_path
    = nav_link_to "<span class='mega-octicon octicon-mortar-board'></span> Schools", cic_schools_path

