%header.project-header
  %h1 Day 1 at Shabazz
  .project-tags
    %span Tag
    %span Tag

.project-overview
  .project-description
    :markdown
      The first day at Malcolm X Shabazz High School in Newark, New Jersey is always a sight to see. This year we managed to up our game once again. With murals and music, the school was buzzing before the first bell had even rung.

  .project-personnel
    %h3 Project Lead
    %ul
      %li Divine Bradley

    %h3 Project Team
    %ul
      %li SupaNova Slom
      %li Zaki Smith

    %a See full list of participants &gt;

.project-story
  %article.project-story-content
    .project-photos
      %figure
        %img{src:'http://www.lorempixel.com/640/480/city'}
        %figcaption I am the caption of this photo.
    %h3 First Day of School
    :markdown
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel dictum massa. Mauris maximus congue massa vel dignissim. Morbi eros leo, ullamcorper vitae purus in, dapibus dignissim ligula. Praesent vestibulum lectus eu interdum scelerisque. Donec quam neque, porttitor vel risus vitae, rutrum semper metus. Suspendisse quis nibh semper, malesuada leo ultrices, varius eros. Sed vehicula, ligula quis ultrices vulputate, tellus ex sollicitudin metus, a venenatis leo tortor sit amet arcu.

      Integer sodales sollicitudin sapien, sed aliquet felis vestibulum et. Etiam tincidunt turpis id justo commodo, id lobortis nisl consequat. Etiam placerat vestibulum nibh, id interdum massa efficitur malesuada. Nam viverra risus ut dignissim faucibus. Phasellus fringilla eleifend varius. Duis nunc eros, sagittis vel sagittis lacinia, sollicitudin convallis diam. Suspendisse lacus arcu, imperdiet non arcu at, fringilla aliquet elit. Pellentesque a rhoncus enim. Praesent eleifend ex eget nisl tincidunt volutpat. Maecenas facilisis at nisi eget ultrices.

      Vivamus ultrices enim volutpat, suscipit nisl nec, aliquet elit. Proin dictum pellentesque accumsan. Nullam congue euismod euismod. Proin molestie sem ligula, et egestas mauris pretium at. Vivamus convallis fringilla mauris, quis maximus tellus interdum a. Mauris vitae quam ac diam bibendum interdum ac vitae libero. Suspendisse id ex in justo tristique lacinia. Sed sed suscipit tellus. In dignissim nulla a lobortis sollicitudin.

      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non euismod elit, porttitor vestibulum risus. Sed eget turpis ante. Phasellus molestie vulputate nulla et ultrices. Quisque convallis lacus scelerisque posuere viverra. Aenean lobortis eget erat non tempor. Nulla lacinia sagittis dignissim. Donec eget massa id lorem bibendum accumsan et fringilla tortor. Aliquam sit amet nibh vitae metus elementum iaculis. Fusce tincidunt libero vel posuere lacinia. Quisque felis libero, auctor a dictum sed, suscipit a sem. Donec urna ligula, finibus eu egestas id, volutpat eu lacus. Nulla facilisi. Sed quis libero lorem.

      Phasellus interdum, metus id finibus rhoncus, massa lorem fermentum turpis, ut lacinia purus urna non neque. Duis non velit eget tellus pulvinar condimentum. Sed vitae bibendum nibh, ut eleifend diam. Sed volutpat, nibh sit amet mollis vestibulum, nisl nisi porta nisi, vitae mollis augue sapien nec ante. Suspendisse a facilisis eros. Nam consequat suscipit erat, dictum euismod ligula efficitur sit amet. Sed ullamcorper lectus vel dolor rutrum, fermentum commodo quam dapibus. Suspendisse pellentesque felis vel enim pulvinar, ut vulputate nibh feugiat. Vivamus interdum eleifend mauris, et blandit elit scelerisque sed. Nam lacus nulla, ullamcorper et dignissim vitae, elementum ut nulla.

      Aenean congue est vitae laoreet euismod. Ut ac tortor sapien. Nullam id vestibulum magna, vel commodo ante. Sed accumsan ipsum non dapibus viverra. Aenean libero est, sagittis vitae lacus quis, scelerisque porta sapien. Vivamus suscipit dui arcu, sed vehicula nunc fringilla a. Vivamus ex sem, interdum eu magna in, porta rutrum felis. Curabitur quis blandit elit. Aenean iaculis massa non feugiat euismod. Donec eget odio et ipsum auctor vestibulum. Ut sed libero sit amet nisi iaculis sagittis. Duis vitae rutrum sapien. Proin aliquet rhoncus nisi ac bibendum. In sollicitudin, ante in vulputate consectetur, quam erat euismod tellus, sed pharetra leo leo ut ante. Nunc tempor eu lorem quis vestibulum. Curabitur imperdiet sodales nisi.

      Nullam vestibulum lacus in est ullamcorper molestie. Pellentesque interdum felis nec mauris bibendum, vel hendrerit ante egestas. In molestie, tortor nec pellentesque consequat, dui ante interdum tellus, nec viverra libero leo sed arcu. Cras id lacus velit. Donec est justo, sollicitudin ac lorem vel, commodo viverra sem. Phasellus commodo enim lacus, eu auctor magna fringilla sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor dignissim nibh at fermentum. Aliquam elementum eleifend diam et finibus. In et tellus velit. Aenean malesuada eleifend finibus.

      Nulla nec suscipit felis, in feugiat dolor. Praesent sit amet pulvinar urna. Phasellus varius ac dolor sed fermentum. Proin non lacus augue. Vivamus nec ultrices nisi, sed imperdiet magna. Morbi lectus arcu, condimentum non mauris sed, fermentum consectetur ipsum. Sed a libero vitae mi sollicitudin tempus vitae non metus.
  %nav.project-story-nav
    %a.is-active{href:'#'} Overview
    %a{href:'#'} Process Work
    %a{href:'#'} The Final Event
    %a{href:'#'} More Photos
    %a{href:'#'} Next Steps

