<div class='asset-caption'><%= caption %></div>
<div class='asset-thumbnail'><img src='<%= thumbnail %>' alt='<%= caption %>'></div>
<div class='asset-controls'>
  <div class='delete warning button'>Delete</div>
</div>
