<header class="form-description">
  <p>Welcome, <strong><%= person.email.split('@')[0] %></strong>.</p>
  <p>We don't have your email on file yet, so please fill out the following fields. You'll only have to do this once.</p>
</header>
<form>
  <div class="field name-field">
    <input type="text" name="first_name" />
    <label for="role">First Name</label>
  </div>
  <div class="field name-field">
    <input type="text" name="last_name" />
    <label for="role">Last Name</label>
  </div>
  <div class="field role-field">
    <select id="role" name="role">
      <option value="volunteer">volunteer</option>
      <option value="student">student</option>
      <option value="teacher">teacher</option>
    </select>
    <label for="role">Role</label>
  </div>
  <div class="field site-field">
    <select id="site_id" name="site_id">
    </select>
    <label for="role">City</label>
  </div>
  <div class="field school-field">
    <select id="school_id" name="school_id">
    </select>
    <label for="role">School</label>
  </div>
  <input type="hidden" name="grade" value="" />
  <input type="hidden" name="email" />
  <div class="field dual-action actions-field">
    <input type="reset" value="Cancel" class="warning" />
    <input type="submit" value="Go" />
  </div>
</form>
