%h1 Editing Reflection

= render 'form'

%hr
%p=link_to 'Delete Reflection', reflection_path(@reflection), data: {method: 'delete', confirm: 'Are you sure?'}, class: 'warning button'
%hr
= link_to 'Cancel', url_for(@reflection.reflectable)
