%h1= @reflection.person.try(:name)
.reflection.big-reflection
  .reflection-date.section
    %header Date
    = @reflection.created_at.strftime "%D"
  .reflection-content.section
    %header
      Reflection
      =link_to "Edit", edit_reflection_path(@reflection) if @reflection.person == current_user
    :markdown
      #{@reflection.content}
%hr
= link_to 'Back', root_url
