<div class='panel list-detail'>
  <div class='panel-title'>
    <h1>Showing Engagement</h1>
    <div class="r-menu">
      <a class='edit' href="#edit">Edit</a>
    </div>
  </div>

  <div class="panel-body scrollable pad">
    <h1><%= kind %></h1>
    <h6><%= Date.parse(date).toDateString() %></h6>
    <hr />
    <ul id="engagement_attendees">
      <li><h4>Attendees</h4></li>
    </ul>
  </div>
</div>
