<div class='panel list-detail'>
  <div class='panel-title'>
    <h1>Showing Engagement</h1>
    <div class='l-menu'>
      <a class='clone' href="#clone">Duplicate</a>
    </div>
    <div class="r-menu">
      <a class='edit' href="#edit">Edit</a>
    </div>
  </div>

  <div class="panel-body scrollable pad">
    <h1><%= kind %></h1>
    <h6><%= Date.parse(date).toDateString() %></h6>
    <h4><%= name %></h4>
    <hr />
    <ul id="engagement_attendees">
      <li><h4>Attendees</h4></li>
    </ul>
    <hr>
    <h6>Notes</h6>
    <div class='engagement-notes'>
      <pre><%= notes %></pre>
    </div>
    <hr>
    <div id='engagement-photos'>
      <p><img class='spinner' src='/images/gif.gif' alt="Loading"></p>
    </div>
  </div>
</div>
