.grid-items-lines
  %a.grid-item{href: "/bluebook", target: "_blank"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png"}/
    %h1 Blue Book
    %p Keep track of your people
  %a.grid-item{href: new_weekly_log_entry_path}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png"}/
    %h1 Weekly Log
    %p File a report on this week's meeting
  %a.grid-item{href: "#"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png"}/
    %h1 Tasks
    %p Forget what you have to do with confidence
  %a.grid-item{href: user_path(current_user), target: "_blank"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png"}/
    %h1 Stats
    %p Check on how you're doing
  %a.grid-item.grid-item-big{href: "https://mail.google.com/a/thefutureproject.org", target: "_blank"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png"}/
    %h1 Google Apps
    %p Gmail, Drive, Calendar, Groups
  %a.grid-item{href: "http://www.expensify.com/"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png"}/
    %h1 Expensify
    %p Manage your budget
  %a.grid-item{href: "mailto:ops@thefutureproject.org?subject=OPS REQUEST"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png"}/
    %h1 Ops
    %p Open an ops request
  %a.grid-item{href: "mailto:support@thefutureproject.org?subject=Help!"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png"}/
    %h1 Support
    %p Get help!
  .right-cover
  .bottom-cover
