%li[action]
  .action-when
    =action.date.strftime("%D")
  .action-who
    %h6=action.who
    =action.what
  .action-where
    =action.try(:school).try(:name)
  .action-detail
    =action.detail
    - if action.try(:subject).is_a?(Asset) && current_user.schools.include?(action.school)
      - if action.subject.data_content_type.match(/image/i)
        =link_to image_tag(action.subject.data(:thumb)), action.subject.data(:original)
      - elsif action.subject.data_content_type.match(/audio/i)
        %audio{src: action.subject.data(:original), preload: 'none', controls: true}
      - else
        =link_to action.subject.caption, action.subject.data(:original)

