button, input[type="submit"], input[type=reset], .button {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &.warning {
    background: $error-color;
    color: white;
  }
  &[type=reset], &.info {
    background: $light-yellow;
  }
  &.highlight {
    background: $dark-blue;
  }
  &[type=reset], &.success {
    background: $light-green;
  }
}
