// Typography
$sans-serif: "avenir next", avenir, $helvetica;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(3);

// Colors
$blue: #80dbf5;
$dark-blue: #18506e;
$dark-gray: #383739;
$medium-gray: #5d5c5d;
$lightest-gray: #faf9f6;
$light-gray: #DDD;
$light-red: #ec4552;
$light-yellow: #fec30c;
$light-green: #77cbc7;

// Background Color
$base-background-color: white;
$base-body-color: $base-background-color;

// Font Colors
$base-font-color: $medium-gray;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-gray;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $blue;
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: none;
$form-box-shadow-focus: $form-box-shadow, none;
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
