#workshops_detail.panel.list-detail
  .panel-title
    %h1 Showing Workshop
    .l-menu= link_to "Back", cic_school_path(@workshop.school)
  .panel-body.scrollable.pad
    %h1= @workshop.date.strftime("%D")
    %h3 Attendees:
    =@workshop.attendees.pluck(:first_name).join ", "

#workshops_list.list
