<div class='titlebar'>
  <h1>Project</h1>
  <div class='l-menu'>
    <div class='button back'>Back</div>
  </div>
  <div class='r-menu'>
    <div class='button edit'>Edit</div>
  </div>
</div>
<div class='project-detail detail-content scrollable'>
  <div>
    <header>
    </header>
    <div class='project-description card'>
      <pre><%= description || "No description yet" %></pre>
    </div>
    <div class='project-team card'>
      <div class='loading'></div>
    </div>
  </div>
</div>
