<div class='titlebar'>
  <h1>Editing Person</h1>
  <div class='l-menu'>
    <div class='button back'>Cancel</div>
  </div>
  <div class='r-menu'>
    <div class='button done'>Save</div>
  </div>
</div>
<div class='person-detail detail-content scrollable'>
  <div id='edit-person-form'></div>
</div>
