<form>
  <div class="field">
    <label for="name">Proj. Name</label>
    <input id="name" name="name" type="text">
  </div>
  <div class="field">
    <label for="school_id">School</label>
    <select id="project_school_id" name="school_id">
      <option value>Citywide</option>
      <% for (var i=0; i < Phonebook.schools.length; i++) { %>
        <option value="<%= Phonebook.schools.models[i].get('id') %>">
          <%= Phonebook.schools.models[i].get('name') %>
        </option>
      <% } %>
    </select>
  </div>
  <div class="field">
    <label for="status">Satus</label>
    <select id="status" name="status">
      <option value="underway">Underway</option>
      <option value="stalled">Stalled</option>
      <option value="complete">Complete</option>
    </select>
  </div>
  <div class="field">
    <label for="description">Description</label>
    <textarea name='description'></textarea>
  </div>
</form>
