<div class='project-name row-title'><%= name %></div>
<div class='project-role row-subject'><%= description %></div>
<div class='project-updated row-timestamp'><%= Date.parse(updated_at).toString('MMM dd') %></div>
<div class='row-controls'>
  <div class='row-controls-inner'>
    <div class='delete'>Delete</div>
  </div>
</div>
