<div class='project-name row-title'><%= name %></div>
<div class='project-role row-subject'><%= description %></div>
<div class='project-status <%=status %> row-timestamp'><%= status %></div>
<div class='row-controls'>
  <div class='row-controls-inner'>
    <div class='delete'>Delete</div>
  </div>
</div>
