.assets {
  overflow: hidden;
}

.asset-info {
  position: relative;
  padding-left: 4em;
  min-height: 4em;
  .asset-author {
    font-weight: bold;
    color: $retro-slate;
    &:after { content: ":" }
  }
}
.asset-avatar {
  width: 3em;
  height: 3em;
  border-radius: 100%;
  border: 1px solid $base-border-color;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  img {
    display: block;
    height: 100%;
    width: 100%;
  }
}
