/*
= require s3_direct_upload_progress_bars
= require octicons
= require animate
= require sweet-alert
*/
@import 'bourbon';
@import 'base/base';
@import 'neat';
@import 'theme';

#l_citybook {
  box-sizing: border-box;
  min-width: em(1004px);
}

#filters {
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  @include clearfix;
  > ul {
    > li {
      width: 50%;
      float: left;
      background: $dark-gray;
      color: white;
      white-space: nowrap;
      &:first-child {
        border-right: 1px solid white;
      }
    }
    li li {
      display: none;
      > a {
        padding: 1em;
        border-bottom: 1px solid $base-border-color;
        display: block;
        background: white;
        font-weight: bold;
        color: $medium-gray;
        @include transition(none);
        &:hover {
          background: $blue;
          color: white;
        }
      }
      h3 {
        font-size: 1em;
        padding: 1em;
        margin: 0;
        cursor: pointer;
        &:after {
          content: '\25BC';
          float: right;
          color: $base-border-color;
        }
      }
    }
    li li:first-child {
      display: block;
    }
    .is-active {
      overflow: auto;
      height: 394px;
      box-shadow: 0 0 10px rgba(0,0,0,.2);
      li {
        display: block;
      }
    }
  }
}

#tabs {
  background: $lightest-gray;
  position: fixed;
  z-index: 1;
  top: 53px;
  left: 0;
  bottom: 0;
  width: 72px;
  li {
    display: block;
    text-align: center;
    div {
      display: block;
    }
    a {
      padding: $gutter/2 4px;
      display: block;
      font-size: 9px;
      font-weight: bold;
      color: $light-gray;
      &:hover { color: $base-font-color; }
    }
    &.current {
      background: white;
      a { color: $blue; }
    }
  }
}

#yield {
  margin: 53px 0 0 72px;
  padding: $gutter;
}

input.search-field {
  font-size: 2em;
}

.date-select select {
  display: inline-block;
}

table {
  td {
    padding-right: .5em;
    vertical-align: middle;
    input, select {
      margin: 0 !important;
      line-height: 1;
    }
  }
  td:last-child {
    a {
      font-weight: bold;
      padding-right: 1em;
    }
  }
}

.navbar-horizontal {
  border-top: 1px solid $base-border-color;
  display: table;
  width: 100%;
  .current-user { text-align: right; }
  > * {
    display: table-cell;
    padding-top: $gutter;
    vertical-align: middle;
  }
  img {
    width: 2em;
    height: 2em;
  }
}

.activity_day {
  padding: 4px 8px;
}

.new-record-via-search {
  display: none;
  border-top: 3px solid $blue;
  border-bottom: 3px solid $blue;
  .person-name {
    font-weight: bold;
    &:before {
      content: '“';
    }
    &:after {
      content: '”';
    }
  }
}

.engagement {
  @include transition(background 1s);
}

#attendee_count {
  color: $light-yellow;
}

.recent {
  background: $lightest-gray;
}

.hide-chrome {
  #yield {
    margin: 0;
  }
  #filters, #tabs, .navbar {
    display: none;
  }
}

.section {
  margin-bottom: $gutter;
  > h3 {
    border-bottom: 3px solid $blue;
    margin-bottom: $gutter;
    a {
      float: right;
    }
  }
}

.clear {
  clear: both;
}

.g4 {
  @include span-columns(4);
}
.g8 {
  @include span-columns(8);
}
