#projects_list.list
  .list-title
    %h1 Projects
    .r-menu
      =link_to "New", new_project_path
  .list-body.scrollable
    - @projects.each do |project|
      %a.list-item{href: project_path(project)}
        %p=project.name
    = link_to_next_page @projects, 'Load More'

#projects_detail.panel.list-detail

