%p#notice= notice
.project
  %h1= @project.name
  .project-leaders.section
    %header Project Leads
    - @project.leaders.each do |p|
      =link_to p.name, person_path(p)
    - if @project.participants.any?
      %header Project Team
      - @project.participants.each do |p|
        =link_to p.name, person_path(p)
  .project-description.section
    %header
      Description
      =link_to "Edit", edit_project_path(@project) if @project.leaders.include? current_user
    :markdown
      #{@project.description}
