/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 19, /Users/chrisfrank/Code/logbook/vendor/assets/stylesheets/reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 29, /Users/chrisfrank/Code/logbook/vendor/assets/stylesheets/reset.css */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, /Users/chrisfrank/Code/logbook/vendor/assets/stylesheets/reset.css */
body {
  line-height: 1;
}

/* line 35, /Users/chrisfrank/Code/logbook/vendor/assets/stylesheets/reset.css */
ol, ul {
  list-style: none;
}

/* line 38, /Users/chrisfrank/Code/logbook/vendor/assets/stylesheets/reset.css */
blockquote, q {
  quotes: none;
}

/* line 42, /Users/chrisfrank/Code/logbook/vendor/assets/stylesheets/reset.css */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, /Users/chrisfrank/Code/logbook/vendor/assets/stylesheets/reset.css */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'icons';
  src: url(/assets/logbook-icons.woff);
  font-weight: normal;
  font-style: normal;
}

/* line 8, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/logbook/icons.css.erb */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 21, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/logbook/icons.css.erb */
.icon-add_circle_outline:before {
  content: "\e06c";
}

/* line 24, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/logbook/icons.css.erb */
.icon-clipboard:before {
  content: "\e073";
}

/* line 27, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/logbook/icons.css.erb */
.icon-keyboard_arrow_down:before {
  content: "\e10f";
}

/* line 30, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/logbook/icons.css.erb */
.icon-keyboard_arrow_left:before {
  content: "\e110";
}

/* line 33, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/logbook/icons.css.erb */
.icon-keyboard_arrow_right:before {
  content: "\e111";
}

/* line 36, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/logbook/icons.css.erb */
.icon-keyboard_arrow_up:before {
  content: "\e112";
}

/* line 39, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/logbook/icons.css.erb */
.icon-control_point_duplicate:before {
  content: "\e150";
}

/* line 42, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/logbook/icons.css.erb */
.icon-edit:before {
  content: "\e15e";
}

/* line 45, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/logbook/icons.css.erb */
.icon-cancel:before {
  content: "\e205";
}

/* line 48, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/logbook/icons.css.erb */
.icon-delete:before {
  content: "\e287";
}

/* line 51, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/logbook/icons.css.erb */
.icon-event:before {
  content: "\e28c";
}

/* line 54, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/logbook/icons.css.erb */
.icon-search:before {
  content: "\e2ca";
}

/* line 57, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/logbook/icons.css.erb */
.icon-camera_enhance:before {
  content: "\e30e";
}

/* line 60, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/logbook/icons.css.erb */
.icon-logbook_dashboard:before {
  content: "\e600";
}

/* line 63, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/logbook/icons.css.erb */
.icon-logbook_engagements:before {
  content: "\e601";
}

/* line 66, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/logbook/icons.css.erb */
.icon-logbook_people:before {
  content: "\e602";
}

/* line 69, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/logbook/icons.css.erb */
.icon-logbook_projects:before {
  content: "\e603";
}

/* line 2, /Users/chrisfrank/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/neat-1.5.1/app/assets/stylesheets/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/forms.css.scss */
input, select, textarea {
  display: block;
  width: 100%;
  background: none;
  font-size: 1em;
  border: none;
  border-bottom: 1px solid #d0d7da;
  padding: 5px 0;
  border-radius: 0;
  font-family: "avenir next", avenir, "helvetica neue", helvetica;
}
/* line 11, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/forms.css.scss */
input[disabled], select[disabled], textarea[disabled] {
  opacity: 0.25;
}

/* line 16, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/forms.css.scss */
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/* line 18, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/forms.css.scss */
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select:focus {
  border-bottom-color: #3182a2;
  outline: none;
}
/* line 22, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/forms.css.scss */
input[type="email"][type=file], input[type="number"][type=file], input[type="password"][type=file], input[type="search"][type=file], input[type="tel"][type=file], input[type="text"][type=file], input[type="url"][type=file], input[type="color"][type=file], input[type="date"][type=file], input[type="datetime"][type=file], input[type="datetime-local"][type=file], input[type="month"][type=file], input[type="time"][type=file], input[type="week"][type=file], select[type=file] {
  border-bottom: none;
}

/* line 25, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/forms.css.scss */
label {
  color: #96a6ae;
}

/* line 29, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/forms.css.scss */
select {
  text-transform: capitalize;
}

/* line 33, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/forms.css.scss */
textarea {
  border: 1px solid #d0d7da;
  padding: 5px;
}

/* line 38, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/forms.css.scss */
.actions-field {
  clear: both;
}
/* line 15, /Users/chrisfrank/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/bourbon-3.2.4/app/assets/stylesheets/addons/_clearfix.scss */
.actions-field:after {
  content: "";
  display: table;
  clear: both;
}
/* line 41, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/forms.css.scss */
.actions-field input {
  background: #6a8d90;
  color: white;
  font-size: 1em;
  clear: both;
  border: none;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  font-family: "avenir next", avenir, "helvetica neue", helvetica;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 55, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/forms.css.scss */
.checkbox-field {
  line-height: 50px;
}
/* line 57, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/forms.css.scss */
.checkbox-field input {
  display: inline-block;
  width: auto;
}

/* line 63, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/forms.css.scss */
.selectize-control.multi .selectize-input {
  border-radius: 0;
  display: block;
}
/* line 65, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/forms.css.scss */
.selectize-control.multi .selectize-input.input-active {
  border-radius: 0;
}
/* line 15, /Users/chrisfrank/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/bourbon-3.2.4/app/assets/stylesheets/addons/_clearfix.scss */
.selectize-control.multi .selectize-input:after {
  content: "";
  display: table;
  clear: both;
}
/* line 67, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/forms.css.scss */
.selectize-control.multi .selectize-input .item {
  white-space: nowrap;
  text-transform: capitalize;
}

/* line 72, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/forms.css.scss */
.selectize-dropdown-content .option {
  text-transform: capitalize;
}

/* line 76, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/forms.css.scss */
.inline-form {
  position: relative;
  height: 3em;
}
/* line 79, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/forms.css.scss */
.inline-form input {
  position: absolute;
  height: 100%;
  top: 0;
}
/* line 83, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/forms.css.scss */
.inline-form input[type=submit] {
  font-size: 1em;
  width: 15%;
  right: 0;
  border-radius: 0;
  z-index: 1;
}
/* line 90, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/forms.css.scss */
.inline-form input[type=text] {
  border: 1px solid #d0d7da;
  border-right: 0;
  background: white;
  width: 85%;
  left: 0;
  z-index: 2;
}

/* line 100, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/forms.css.scss */
.selectize-dropdown {
  width: 100% !important;
}

/* line 103, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/forms.css.scss */
.selectize-input.items > div {
  vertical-align: top;
}

/* line 1, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/modules.css.scss */
.panel {
  padding: 1em;
}

/* line 4, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/modules.css.scss */
.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 10, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/modules.css.scss */
.standalone .screen {
  top: 20px;
}

/* line 14, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/modules.css.scss */
.form-description {
  margin-bottom: 30px;
}

/* line 17, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/modules.css.scss */
.field {
  margin-bottom: 15px;
}

/* line 15, /Users/chrisfrank/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/bourbon-3.2.4/app/assets/stylesheets/addons/_clearfix.scss */
.dual-action:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/modules.css.scss */
.dual-action input {
  width: 50%;
  float: left;
  clear: none;
}

/* line 30, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/modules.css.scss */
.titlebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 45px;
  left: 0;
  z-index: 10000;
  overflow: hidden;
}
/* line 39, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/modules.css.scss */
.titlebar .l-menu, .titlebar .r-menu {
  position: absolute;
  top: 0;
}
/* line 43, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/modules.css.scss */
.titlebar .button {
  padding: 0 15px;
}
/* line 46, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/modules.css.scss */
.titlebar .l-menu {
  left: 0;
}
/* line 49, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/modules.css.scss */
.titlebar .r-menu {
  right: 0;
}
/* line 52, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/modules.css.scss */
.titlebar.hidden {
  border: none;
}

/* line 55, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/modules.css.scss */
.list-item {
  line-height: 45px;
  height: 45px;
  padding: 0 1em;
}

/* line 62, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/modules.css.scss */
.borderless-list li {
  padding: 15px;
  margin: 0 -15px 15px;
  position: relative;
}
/* line 67, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/modules.css.scss */
.borderless-list .deletable {
  background: #db4549;
}
/* line 69, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/modules.css.scss */
.borderless-list .deletable:after {
  content: 'Delete';
  color: white;
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: right;
}

/* line 81, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/modules.css.scss */
.search {
  z-index: 1;
  top: 0;
  height: 45px;
  position: relative;
  top: 0;
}

/* line 89, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/modules.css.scss */
.index.hidden {
  display: none;
}

/* line 94, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/modules.css.scss */
.absolute {
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 99, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/modules.css.scss */
.standalone .absolute {
  top: 20px;
}

/* line 4, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
body {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "avenir next", avenir, "helvetica neue", helvetica;
  background-color: #41a0c5;
  color: rgba(0, 0, 0, 0.5);
}
/* line 12, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
body.standalone {
  padding-top: 20px;
}
/* line 14, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
body.standalone:before {
  content: '';
  display: block;
  position: fixed;
  background: #41a0c5;
  top: 0;
  left: 0;
  height: 20px;
  z-index: 100;
  width: 100%;
}
/* line 25, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
body.standalone .titlebar {
  top: 20px;
}

/* line 30, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.screen {
  background: #41a0c5;
}

/* line 31, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
a {
  text-decoration: none;
  color: #fafafa;
}

/* line 36, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
h1, h2, h3, h4, h5, h6, strong {
  font-weight: bold;
}

/* line 40, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
input, select, textarea {
  color: white;
}

/* line 43, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
label {
  color: rgba(0, 0, 0, 0.5);
}

/* line 44, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
textarea {
  -webkit-appearance: none;
}

/* line 48, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.actions-field input {
  background: rgba(0, 0, 0, 0.25);
}
/* line 50, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.actions-field input.warning {
  background: #f9d272;
}

/* line 55, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.btn {
  font-weight: bold;
  color: white;
  text-align: center;
  height: 45px;
  line-height: 45px;
  margin: 15px auto;
}
/* line 62, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.btn:active {
  color: rgba(0, 0, 0, 0.5);
  background: white;
  border-color: white;
}

/* line 69, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.titlebar {
  font-weight: bold;
  line-height: 45px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  background: #41a0c5;
}
/* line 75, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.titlebar .button {
  font-weight: 400;
  color: #fafafa;
}

/* line 81, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.centered {
  text-align: center;
}

/* line 85, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.list-item {
  font-weight: 500;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  color: #fafafa;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 90, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.list-item:active {
  background: #0fb5f7;
}
/* line 93, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.list-item.createable {
  background-color: rgba(255, 255, 255, 0.25);
}

/* line 98, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.search {
  padding: 7px 10px;
}
/* line 100, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.search input {
  border: none;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  padding: 5px;
  font-size: 12px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}
/* line 108, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.search .reset {
  position: absolute;
  top: 0;
  right: 65px;
  padding: 15px;
  opacity: 0;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}
/* line 116, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.search .cancel {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 0 15px;
  opacity: 0;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}
/* line 126, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.search .focused input {
  width: calc(100% - 65px);
}
/* line 129, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.search .focused .cancel, .search .focused .reset {
  opacity: 1;
}

/* line 133, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.facts {
  line-height: 20px;
}
/* line 135, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.facts h1 {
  margin-bottom: 5px;
}
/* line 136, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.facts label {
  color: #fafafa;
}
/* line 138, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.facts label:after {
  content: ':';
}
/* line 140, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.facts .fact {
  font-size: 12px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #1e2427;
}

/* line 149, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

/* line 152, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
}

/* line 155, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

/* line 159, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/theme.css.scss */
.hairlines * {
  border-top-width: 0.5px !important;
  border-bottom-width: 0.5px !important;
}

/* line 1, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/people.css.scss */
#person-projects {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}
/* line 3, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/people.css.scss */
#person-projects .toggle {
  margin: -15px;
  padding: 15px;
}
/* line 7, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/people.css.scss */
#person-projects #projects-list {
  display: none;
}
/* line 10, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/people.css.scss */
#person-projects .icon-keyboard_arrow_down {
  display: inline-block;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}
/* line 15, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/people.css.scss */
#person-projects .expanded #projects-list {
  display: block;
}
/* line 18, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/people.css.scss */
#person-projects .expanded .icon-keyboard_arrow_down {
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  -o-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

/* line 23, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/people.css.scss */
#person-engagements {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}
/* line 25, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/people.css.scss */
#person-engagements .engagement {
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 28, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/people.css.scss */
#person-engagements .btn {
  background: rgba(0, 0, 0, 0.25);
}
/* line 30, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/people.css.scss */
#person-engagements .btn:active {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

/* line 1, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/projects.css.scss */
#projects-tab.current {
  color: #4b6385;
}

/* line 6, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/projects.css.scss */
#phonebook-projects .titlebar, #phonebook-projects .row-timestamp, #phonebook-projects .card h4 {
  color: #4b6385;
}
/* line 7, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/projects.css.scss */
#phonebook-projects .detail-content header h2 {
  white-space: normal;
}
/* line 10, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/projects.css.scss */
#phonebook-projects .row-timestamp {
  text-transform: capitalize;
  font-size: 10px;
}
/* line 14, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/projects.css.scss */
#phonebook-projects .project-status.complete {
  color: #77cbc7;
}
/* line 15, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/projects.css.scss */
#phonebook-projects .project-status.stalled {
  color: #ec4552;
}
/* line 16, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/projects.css.scss */
#phonebook-projects .recessed-button {
  background: #4b6385;
}
/* line 19, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/projects.css.scss */
#phonebook-projects .loading {
  border-left: 3px solid #4b6385;
  border-right: 3px solid #4b6385;
  border-bottom: 3px solid #4b6385;
  border-top: 3px solid #8fa4c0;
}
/* line 25, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/projects.css.scss */
#phonebook-projects .upload .progress {
  border: 3px solid #4b6385;
}
/* line 27, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/projects.css.scss */
#phonebook-projects .upload .progress .bar {
  background: #4b6385;
}

/* line 32, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/projects.css.scss */
.detail-modal.projects .fancy-search-form {
  background: #4b6385;
}
/* line 36, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/projects.css.scss */
.detail-modal.projects .multi-select-options .row {
  background: #4b6385;
}

@-webkit-keyframes enterStageRight {
  /* line 2, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -webkit-transform: translate3d(100%, 0, 0);
  }

  /* line 5, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes enterStageRight {
  /* line 2, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -moz-transform: translate3d(100%, 0, 0);
  }

  /* line 5, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -moz-transform: translate3d(0, 0, 0);
  }
}

@keyframes enterStageRight {
  /* line 2, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  /* line 5, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes exitStageRight {
  /* line 10, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }

  /* line 13, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -webkit-transform: translate3d(100%, 0, 0);
  }
}

@-moz-keyframes exitStageRight {
  /* line 10, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -moz-transform: translate3d(0, 0, 0);
  }

  /* line 13, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -moz-transform: translate3d(100%, 0, 0);
  }
}

@keyframes exitStageRight {
  /* line 10, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 13, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@-webkit-keyframes enterStageLeft {
  /* line 18, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
  }

  /* line 21, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes enterStageLeft {
  /* line 18, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -moz-transform: translate3d(-100%, 0, 0);
  }

  /* line 21, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -moz-transform: translate3d(0, 0, 0);
  }
}

@keyframes enterStageLeft {
  /* line 18, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  /* line 21, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes exitStageLeft {
  /* line 26, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }

  /* line 29, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}

@-moz-keyframes exitStageLeft {
  /* line 26, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -moz-transform: translate3d(0, 0, 0);
  }

  /* line 29, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -moz-transform: translate3d(-100%, 0, 0);
  }
}

@keyframes exitStageLeft {
  /* line 26, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 29, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@-webkit-keyframes fallin {
  /* line 34, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -webkit-transform: translate3d(0, 10%, 0) scale(0.9);
    opacity: 0;
  }

  /* line 38, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@-moz-keyframes fallin {
  /* line 34, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -moz-transform: translate3d(0, 10%, 0) scale(0.9);
    opacity: 0;
  }

  /* line 38, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -moz-transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes fallin {
  /* line 34, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -webkit-transform: translate3d(0, 10%, 0) scale(0.9);
    -moz-transform: translate3d(0, 10%, 0) scale(0.9);
    -ms-transform: translate3d(0, 10%, 0) scale(0.9);
    -o-transform: translate3d(0, 10%, 0) scale(0.9);
    transform: translate3d(0, 10%, 0) scale(0.9);
    opacity: 0;
  }

  /* line 38, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    -moz-transform: translate3d(0, 0, 0) scale(1);
    -ms-transform: translate3d(0, 0, 0) scale(1);
    -o-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fallout {
  /* line 44, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }

  /* line 48, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -webkit-transform: translate3d(0, 10%, 0) scale(0.9);
    opacity: 0;
  }
}

@-moz-keyframes fallout {
  /* line 44, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -moz-transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }

  /* line 48, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -moz-transform: translate3d(0, 10%, 0) scale(0.9);
    opacity: 0;
  }
}

@keyframes fallout {
  /* line 44, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    -moz-transform: translate3d(0, 0, 0) scale(1);
    -ms-transform: translate3d(0, 0, 0) scale(1);
    -o-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }

  /* line 48, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -webkit-transform: translate3d(0, 10%, 0) scale(0.9);
    -moz-transform: translate3d(0, 10%, 0) scale(0.9);
    -ms-transform: translate3d(0, 10%, 0) scale(0.9);
    -o-transform: translate3d(0, 10%, 0) scale(0.9);
    transform: translate3d(0, 10%, 0) scale(0.9);
    opacity: 0;
  }
}

@-webkit-keyframes slideInVertical {
  /* line 54, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -webkit-transform: translate3d(0, 102%, 0);
  }

  /* line 57, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes slideInVertical {
  /* line 54, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -moz-transform: translate3d(0, 102%, 0);
  }

  /* line 57, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -moz-transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInVertical {
  /* line 54, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -webkit-transform: translate3d(0, 102%, 0);
    -moz-transform: translate3d(0, 102%, 0);
    -ms-transform: translate3d(0, 102%, 0);
    -o-transform: translate3d(0, 102%, 0);
    transform: translate3d(0, 102%, 0);
  }

  /* line 57, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideOutVertical {
  /* line 62, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }

  /* line 65, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -webkit-transform: translate3d(0, 102%, 0);
  }
}

@-moz-keyframes slideOutVertical {
  /* line 62, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -moz-transform: translate3d(0, 0, 0);
  }

  /* line 65, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -moz-transform: translate3d(0, 102%, 0);
  }
}

@keyframes slideOutVertical {
  /* line 62, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 65, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -webkit-transform: translate3d(0, 102%, 0);
    -moz-transform: translate3d(0, 102%, 0);
    -ms-transform: translate3d(0, 102%, 0);
    -o-transform: translate3d(0, 102%, 0);
    transform: translate3d(0, 102%, 0);
  }
}

@-webkit-keyframes fadeIn {
  /* line 70, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    opacity: 0;
  }

  /* line 73, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  /* line 70, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    opacity: 0;
  }

  /* line 73, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  /* line 70, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    opacity: 0;
  }

  /* line 73, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  /* line 78, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    opacity: 1;
  }

  /* line 81, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  /* line 78, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    opacity: 1;
  }

  /* line 81, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  /* line 78, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    opacity: 1;
  }

  /* line 81, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    opacity: 0;
  }
}

@-webkit-keyframes collapse {
  /* line 86, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -webkit-transform: scale(1, 1);
  }

  /* line 89, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -webkit-transform: scale(0.0, 0.0);
  }
}

@-moz-keyframes collapse {
  /* line 86, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -moz-transform: scale(1, 1);
  }

  /* line 89, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -moz-transform: scale(0.0, 0.0);
  }
}

@keyframes collapse {
  /* line 86, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  from {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  /* line 89, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
  to {
    -webkit-transform: scale(0.0, 0.0);
    -moz-transform: scale(0.0, 0.0);
    -ms-transform: scale(0.0, 0.0);
    -o-transform: scale(0.0, 0.0);
    transform: scale(0.0, 0.0);
  }
}

/* line 93, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
.transitions {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

/* line 100, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
.animation-fallout {
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  -ms-transform-origin: center top;
  -o-transform-origin: center top;
  transform-origin: center top;
  -webkit-animation: fallout 0.4s;
  -moz-animation: fallout 0.4s;
  animation: fallout 0.4s;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

/* line 105, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
.animation-fallin {
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  -ms-transform-origin: center top;
  -o-transform-origin: center top;
  transform-origin: center top;
  -webkit-animation: fallin 0.4s;
  -moz-animation: fallin 0.4s;
  animation: fallin 0.4s;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

/* line 110, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
.enter-stage-right {
  -webkit-animation: enterStageRight 0.6s;
  -moz-animation: enterStageRight 0.6s;
  animation: enterStageRight 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

/* line 114, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
.exit-stage-right {
  -webkit-animation: exitStageRight 0.6s;
  -moz-animation: exitStageRight 0.6s;
  animation: exitStageRight 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

/* line 118, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
.enter-stage-left {
  -webkit-animation: enterStageLeft 0.6s;
  -moz-animation: enterStageLeft 0.6s;
  animation: enterStageLeft 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

/* line 122, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
.exit-stage-left {
  -webkit-animation: exitStageLeft 0.6s;
  -moz-animation: exitStageLeft 0.6s;
  animation: exitStageLeft 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

/* line 126, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
.slide-in-vertical {
  -webkit-animation: slideInVertical 0.6s;
  -moz-animation: slideInVertical 0.6s;
  animation: slideInVertical 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

/* line 130, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
.slide-out-vertical {
  -webkit-animation: slideOutVertical 0.6s;
  -moz-animation: slideOutVertical 0.6s;
  animation: slideOutVertical 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

/* line 134, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
.fade-in {
  -webkit-animation: fadeIn 0.6s;
  -moz-animation: fadeIn 0.6s;
  animation: fadeIn 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

/* line 138, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
.fade-out {
  -webkit-animation: fadeOut 0.6s;
  -moz-animation: fadeOut 0.6s;
  animation: fadeOut 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

/* line 142, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
.fade-in-fast {
  -webkit-animation: fadeIn 0.01s;
  -moz-animation: fadeIn 0.01s;
  animation: fadeIn 0.01s;
}

/* line 145, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/animations.css.scss */
.collapse {
  -webkit-animation: collapse 0.5s;
  -moz-animation: collapse 0.5s;
  animation: collapse 0.5s;
}

/* line 1, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/loading.css.scss */
.lb-loading {
  font-size: 16px;
  height: 1em;
  width: 1em;
  margin: 15px auto;
  position: relative;
  -webkit-animation: rotation .8s infinite ease-in-out;
  -moz-animation: rotation .8s infinite ease-in-out;
  -o-animation: rotation .8s infinite ease-in-out;
  animation: rotation .8s infinite ease-in-out;
  border-left: 3px solid #18506e;
  border-right: 3px solid #18506e;
  border-bottom: 3px solid #18506e;
  border-top: 3px solid #3182a2;
  border-radius: 100%;
  text-indent: -99999em;
  overflow: hidden;
}

@-webkit-keyframes rotation {
  /* line 21, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/loading.css.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 22, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/loading.css.scss */
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  /* line 26, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/loading.css.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 27, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/loading.css.scss */
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  /* line 31, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/loading.css.scss */
  from {
    -o-transform: rotate(0deg);
  }

  /* line 32, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/loading.css.scss */
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  /* line 36, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/loading.css.scss */
  from {
    transform: rotate(0deg);
  }

  /* line 37, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/loading.css.scss */
  to {
    transform: rotate(359deg);
  }
}

/* line 15, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/phonebook.css.scss */
* {
  box-sizing: border-box;
  cursor: default;
  -webkit-backface-visiblity: hidden;
}

/* line 21, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/phonebook.css.scss */
body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* line 31, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/phonebook.css.scss */
html, body {
  height: 100%;
}

/* line 35, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/phonebook.css.scss */
textarea {
  white-space: pre-wrap;
}

/* line 39, /Users/chrisfrank/Code/logbook/app/assets/stylesheets/phonebook/phonebook.css.scss */
pre {
  white-space: pre-wrap;
  font-family: "avenir next", avenir, "helvetica neue", helvetica;
  margin: 0 auto;
  line-height: 1.2;
}
