%table
  %th Who
  %th What
  %th Where
  %th Details

  - @actions.group_by(&:date).each do |date, actions|
    %tr
      %td.activity_day{colspan: 4}= date.strftime("%A, %B %d")
    - actions.each do |action|
      %tr[action]
        %td=action.who
        %td=action.what
        %td=action.try(:school).try(:name)
        %td
          =action.detail
          - if action.try(:subject).is_a?(Asset)
            - if action.subject.data_content_type.match(/image/i)
              =link_to image_tag(action.subject.data(:thumb)), action.subject.data(:original)
            - elsif action.subject.data_content_type.match(/audio/i)
              %audio{src: action.subject.data(:original), preload: 'none', controls: true}
            - else
              =link_to action.subject.caption, action.subject.data(:original)
=paginate @actions

