<div id='people-list' class='list'>
  <div class='titlebar'>
    <h1>People</h1>
  </div>
  <div class='rows'>
    <% for (var i=0; i < people.length; i++) { %>
      <div class='row'>
        <%= people[i].attributes['first_name'] %>
        <%= people[i].attributes['last_name'] %>
      </div>
    <% } %>
  </div>
</div>
