<div class="titlebar">
  <div class='l-menu'>
    <div class='button hamburger'>
      <span class='icon-menu'></span>
    </div>
  </div>
  People
</div>
<div id="people-search" class="search">
</div>
<div id="people-list">
  <div class="lb-loading"></div>
</div>
