<div class='titlebar'>
  <h1>People</h1>
  <div class='r-menu'>
    <div class='button new icon-add-circle-outline'></div>
  </div>
  <div class='l-menu untouchable'>
    <div class='button search icon-search'></div>
  </div>
  <input type='search' id='people-search-field' class='titlebar-search' autocorrect='off' autocapitalize='off' >
</div>
<div id='people-table' class='table-rows scrollable'></div>
