<div class='person-name row-title'><%= first_name %> <%= last_name %></div>
<div class='engagement-name row-subject'><%= role %></div>
<div class='engagement-date row-timestamp'><%= grade %></div>
<div class='row-controls'>
  <div class='row-controls-inner'>
    <div class='delete'>Delete</div>
  </div>
</div>
