<div class='person-name row-title'><%= first_name %> <%= last_name %></div>
<div class='person-role row-subject'>
  <% if (grade) { %><%= grade %>th Grade - <% }; %>
  <%= role %>
</div>
<div class='person-dt row-timestamp'>
  <% if (dream_team) { %>DT<% }; %>
</div>
<div class='row-controls'>
  <div class='row-controls-inner'>
    <div class='delete'>Delete</div>
  </div>
</div>
