<div class='detail-content no-title scrollable'>
  <div>
    <div class='multi-select fancy-search-form'>
      <div class='multi-select-input-wrapper'></div>
    </div>

    <div class='multi-select-options multi-select-search-results'>
    </div>
    <div class='multi-select-options multi-select-selected'>
      <div class='loading'></div>
    </div>

  </div>
</div>
