<div class="titlebar">
  <div class='l-menu'>
    <div class='button back'>Back</div>
  </div>
  <div class='r-menu'>
    <div class='button edit'>Edit</div>
  </div>
  Person
</div>
<div class="panel">
  <h1><%= person.first_name %> <%= person.last_name %></h1>
</div>
