<div class="titlebar">
  <div class='l-menu'>
    <div class='button back'>Back</div>
  </div>
  <div class='r-menu'>
    <div class='button edit'>Edit</div>
  </div>
  Person
</div>
<div id="person-facts"></div>
