%h1 Listing Sites

%table
  %tr
    %th
    %th

  - @citybook_sites.each do |citybook_site|
    %tr
      %td= link_to citybook_site.name, citybook_site_path(citybook_site)
      %td= link_to 'Edit', edit_citybook_site_path(citybook_site)

