- content_for :charts_js do
  .row
    .g6
      %h2 People Added
      = line_chart [{name: "People", data: @people }]
    .g6
      %h2 Projects Started
      = line_chart [{name: "Projects", data: @projects}], colors: ['#419bd3']
  .row
    .g6
      %h2 People With Projects
      = line_chart [{name: "Leaders", data: @people_leading_projects }, {name: 'Supporters', data: @people_supporting_projects }], colors: ['#419bd3', '#18506e']
    .g6
      %h2 Engagements by Week
      = line_chart [{name: "Engagements", data: @engagements }], colors: ['#b363a3']

