.page-title
  %h1= "Stats in #{current_scope.name}"

- content_for :charts_js do
  .row
    %h2 People / Month
    = line_chart @people, colors: ['#42c6ee', 'red'], library: { tooltip: { pointFormat: 'People: <b>{point.y}</b>', xDateFormat: '%B %d'}}
  .row
    %h2 Projects / Month
    = line_chart @projects, colors: ['#419bd3', 'red']

