%h1= "Hello, #{session[:auth_hash][:info][:first_name]}."

=form_for @identity do |f|
  %h2 Looks like this is your first time here.
  %hr
  %h3 Please select your school:
  %ul.candidates
    - @candidates.each do |c|
      %li
        %label
          =f.radio_button :person_id, c.id
          .candidate-name=c.name
          .candidate-school=c.school.name
    %li.last
      %label
        - if @candidates.any?
          %h4 Other
        =f.radio_button :person_id, nil
        =@person.name
        .fields
          =f.fields_for :person_attributes do |g|
            = g.select :school_id, (School.all - @schools).map{|s| [s.name, s.id] }
            =g.hidden_field :first_name, value: @person.first_name
            =g.hidden_field :last_name, value: @person.last_name
            =g.hidden_field :auth_token, value: session[:auth_hash][:credentials][:token]
  =f.submit "Register"
