<div class='panel list-detail'>
  <div class='panel-title'>
    <h1>Showing Project</h1>
    <div class="r-menu">
      <a class='edit' href="#edit">Edit</a>
    </div>
  </div>

  <div class="panel-body scrollable pad">
    <h1><%= name %></h1>
    <hr />
    <ul id="project_leaders">
      <li><h4>Leaders</h4></li>
    </ul>
    <hr />
    <ul id="project_participants">
      <li><h4>Participants</h4></li>
    </ul>

  </div>
</div>
