<div class='panel list-detail'>
  <div class='panel-title'>
    <h1>Showing Project</h1>
    <div class="r-menu">
      <a class='edit' href="#edit">Edit</a>
    </div>
  </div>

  <div class="panel-body scrollable pad">
    <h1><%= name %></h1>
  </div>
</div>
