<a style="background-image: url(<%= asset.thumbnail %>);" class="thumbnail" href="<%= asset.original %>" title="<%= asset.caption %>">
  <label><%= asset.data_content_type %></label>
</a>
<div class="action delete icon-delete"></div>
