<div class="titlebar">
  <div class="title">Gallery</div>
</div>
<div class="section">
  <div id="assets-gallery">
    <div class="lb-loading"></div>
  </div>
</div>
<div class="assets-pagination section">
  <a rel="next">Load More</a>
</div>
