<div class="titlebar">
  <div class="subtitle">Dashboard for</div>
  <div class="title"><%= name %></div>
</div>

<div id="site-schools-table" class="table"></div>
<div id="scope-table" class="table"></div>
<div id="dashboard-graphs"></div>
