<div class="titlebar">
  <div class="title">Engagements</div>
</div>
<div class="section leaderboard">
  <div id="engagements-leaderboard"></div>
</div>
<div class="section">
  <h2 class="section-header">
    <span id="table-label"></span>
    <a class='section-header-action' href="#" title="Filter List">Filter List</a>
  </h2>
  <div id="engagements-table" class="table index-table"></div>
  <div id="engagements-pagination"></div>
</div>
