<div class="titlebar">
  <div class="title">Adding an Engagement.</div>
  <nav class="titlebar-nav">
    <a class="projects-link" href="/logbook/projects/new">Add Project</a>
    <a class="people-link" href="/logbook/people/new">Add Person</a>
  </div>
</div>
<div class="section">
  <div id="engagement-form"></div>
</div>
