<div class="titlebar">
  <div class="subtitle">Adding</div>
  <div class="title">Engagement</div>
</div>
<div class="footerbar">
  <nav class='l'>
    <a class="people-link" href="/logbook/people/new">Add Person</a>
    <a class="projects-link" href="/logbook/projects/new">Add Project</a>
  </nav>
</div>
<div class="section">
  <div id="engagement-form"></div>
</div>
