<div class="titlebar">
  <div class="title">Editing Engagement</div>
</div>
<div class="footerbar">
  <nav class='l'>
    <a href="/logbook/engagements/<%= engagement.id %>">Cancel</a>
  </nav>
  <nav class='r'>
    <a href="/logbook/engagements" class="destroy">Delete Engagement</a>
  </nav>
</div>
<div class="section">
  <div id="engagement-form"></div>
</div>
