<div class="field kind-field">
  <select id="kind" name="kind">
    <option value="Coaching Session">Coaching Session</option>
    <option value="Event">Event</option>
    <option value="Course">Course</option>
    <option value="Meeting">Meeting</option>
  </select>
  <label for="kind">Kind</label>
  <div class="hints">
    <div class="coaching">Coaching Sessions are one-on-one discussions aimed at identifying or acting on the 4Ps.</div>
    <div class="event">Events are large group activities like hosting an open-mic, playing music in the hallways, or offering cookies at the front door.</div>
    <div class="course">Courses are taught or organized by you, geared toward the 'skillsets' (eg. a Dream Team session, a field trip, or hearing from a guest expert).</div>
    <div class="meeting">Meetings are activities not organized by you or TFP, e.g. sitting down with an administrator, doing an observation).</div>
  </div>
</div>
<div class="field school-field">
  <select id="school_id" name="school_id">
  </select>
  <label for="school_id">School</label>
</div>
<div class="field name-field">
  <input id="name" name="name" type="text">
  <label for="name">Engagement Name</label>
</div>
<div class="field date-field">
  <input name='date' type='text'>
  <label for="date">Date</label>
</div>
<div class="field duration-field">
  <input type="hidden" id="duration" name="duration" />
  <input type="number" id="duration-number" step="any" />
  <select id="duration-units">
    <option value="minutes">Minutes</option>
    <option value="hours">Hours</option>
  </select>
  <label for="duration">Duration</label>
</div>
<div class="field description-field">
  <label for="description">
    Description
    <a class="tag" href="#SelfAwareness" title="e.g. accurate self-assessment, healthy self-confidence">#SelfAwareness</a>
    <a class="tag" href="#SelfManagement" title="e.g. regulating emotions and impulses; persevering; setting & monitoring progress toward goals">#SelfManagement</a>
    <a class="tag" href="#SocialAwareness" title="e.g. empathizing; understanding others' perspectives/similarities/differences; recognizing and making best use of family, school, community resources">#SocialAwareness</a>
    <a class="tag" href="#RelationshipSkills" title="e.g. healthy, cooperation-based relationships; resisting negative social pressure; seeking help when needed; prevent/manage/resolve interpersonal conflict">#RelationshipSkills</a>
    <a class="tag" href="#ResponsibleDecisionMaking" title="e.g. making decisions based on ethics, safety, respect for others, and likely consequences; applying these skills in academic and social situations; contributing to well-being of school/community">#ResponsibleDecisionMaking</a>
  </label>
  <textarea name='description'></textarea>
</div>
<div class="field headcount-field">
  <label for="headcount">How many people were there?</label>
  <input id="headcount" name="headcount" type="number" min="0">
</div>
<div class="field attendance-field selectize-field">
  <label for="attendee_ids" class="primary-label">Who was there?</label>
  <label for="attendee_ids" class="alternate-label">Anyone in particular?</label>
  <select id="attendee_ids" name="attendee_ids" multiple></select>
</div>
<div class="field project-ids-field selectize-field">
  <label for="project_ids">Any projects linked to this engagement?</label>
  <select id="project_ids" name="project_ids" multiple></select>
</div>
<input type="submit" value="Save" class='save people-link'>
