<div class="titlebar">
  <div class="title">Things tagged</div>
  <div class="subtitle">&ldquo;<%= hashtag.name %>&rdquo;</div>
</div>
<div class="section">
  <div id="records-table" class="table"></div>
</div>

