<div class="titlebar">
  <a class="title" href="/logbook/<%= ds.nounsHelper.pluralize(note.notable_type) %>/<%= note.notable_id %>">Person</a>
  <div class="subtitle">&rsaquo; New Note</div>
  </div>
</div>
<div class="section">
  <div id="note-form"></div>
</div>
