<div class="field content-field">
  <textarea name="content"></textarea>
  <label for="content">Text</label>
</div>
<div class="field attachments-field">
  <input type="file" name="assets" multiple disabled>
  <label for="assets">Attachments</label>
</div>
<input type="hidden" name="notable_type">
<input type="hidden" name="notable_id">
<input type="submit" value="Save" class='save'>
