<div class="field content-field">
  <textarea name="content"></textarea>
  <label for="content">Text</label>
</div>
<div class="field attachments-field">
  <input id="assets" type="file" multiple>
  <label for="assets">Attachments</label>
</div>
<input type="hidden" name="notable_type">
<input type="hidden" name="notable_id">
<input type="submit" value="Save Note" class='save'>
