<div class="titlebar">
  <a class="title" href="/logbook/people">People</a>
  <div class="subtitle">
    <select name="view-style" class="view-style unstyled">
      <option value="stats">Stats</option>
      <option selected value="editor">Editor</option>
    </select>
  </div>
</div>
<div id="people-spreadsheet-filters"></div>
<div class="section">
  <div id="people-spreadsheet" class="table index-table people-table"></div>
  <div id="people-spreadsheet-pagination"></div>
</div>
