<div class="titlebar">
  <div class="subtitle">Adding</div>
  <div class="title">Person</div>
</div>
<div class="footerbar">
  <nav class='l'>
    <a class="engagements-link" href="/logbook/engagements/new">Add Engagement</a>
    <a class="projects-link" href="/logbook/projects/new">Add Project</a>
  </nav>
</div>
<div class="section">
  <div id="person-form"></div>
</div>
