<div class="titlebar">
  <div class="title">Editing Person</div>
  <a class="btn" href="/logbook/people/<%= person.id %>">Cancel</a>
</div>
<div class="section">
  <div id="person-form"></div>
</div>
<div class="section">
  <a href="/logbook/people" class="destroy btn">
    Delete Person
  </a>
</div>
