<a class="trigger" href="#">
  <span class="trigger-label">Add Filters</span>
  <span class="trigger-indicator icon-add_circle_outline"></span>
</a>
<form class="people-filters">
  <div class="field dt-field">
    <select class="styled" name="by_dt">
      <option value=""></option>
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
    <label for="by_dt">DT</label>
  </div>
  <div class="field fellow-field">
    <select class="styled" name="by_ff">
      <option value=""></option>
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
    <label for="by_dt">FF</label>
  </div>
  <div class="field grade-field">
    <select class="styled" name="by_grade" >
      <option value=""></option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
    <label for="by_grade">Grade</label>
  </div>
  <button class="apply" type="submit">Apply Filters</button>
</form>
