<div class="titlebar">
  <div class="title">People</div>
</div>
<div class="section leaderboard">
  <div id="people-leaderboard"></div>
</div>
<div class="section">
  <h2 class="section-header">
    <span id="table-label"></span>
    <a class="section-header-action filter-trigger" href="#">
      Show Filters <span class="icon-keyboard_arrow_down"></span>
    </a>
  </h2>
  <div id="table-filters" class="table-filters"></div>
  <div id="people-table" class="table index-table people-table"></div>
  <div id="people-pagination"></div>
</div>
