<div class="titlebar">
  <div class="title">People</div>
  <div class="subtitle">
    <select name="view-style" class="view-style unstyled">
      <option selected value="stats">Stats</option>
      <option value="editor">Editor</option>
    </select>
  </div>
</div>
<div id="people-filters"></div>
<div class="section leaderboard">
  <div id="people-leaderboard"></div>
</div>
<div class="section">
  <div id="people-table" class="table index-table people-table"></div>
  <div id="people-pagination"></div>
</div>
