<div class="titlebar">
  <div class="title">Projects</div>
</div>
<div class="section leaderboard">
  <div id="projects-leaderboard"></div>
</div>
<div class="section">
  <div id="projects-table" class="table index-table"></div>
  <div id="projects-pagination"></div>
</div>
