<div class="titlebar">
  <div class="title">Adding a Project.</div>
  <nav class="titlebar-nav">
    <a class="engagements-link" href="/logbook/engagements/new">Add Engagement</a>
    <a class="people-link" href="/logbook/people/new">Add Person</a>
  </div>
</div>
<div class="section">
  <div id="project-form"></div>
</div>
