<form>
  <div class="field name-field">
    <input id="name" name="name" type="text">
    <label for="name">Proj. Name</label>
  </div>
  <div class="field status-field">
    <select id="status" name="status">
      <option value="underway">Underway</option>
      <option value="stalled">Stalled</option>
      <option value="complete">Complete</option>
    </select>
    <label for="status">Status</label>
  </div>
  <div class="field school-field">
    <select id="school_id" name="school_id">
    </select>
    <label for="school_id">School</label>
  </div>
  <div class="field description-field">
    <textarea name='description'></textarea>
    <label for="description">Description</label>
  </div>
  <div class="field selectize-field">
    <select id="leader_ids" name="leader_ids" multiple></select>
    <label for="leader_ids">Leaders</label>
  </div>
  <div class="field selectize-field">
    <select id="supporter_ids" name="supporter_ids" multiple></select>
    <label for="supporter_ids">Supporters</label>
  </div>
  <input type="submit" value="Save" class='save people-link'>
</form>
