<div class="titlebar">
  <div class="title">Editing Project</div>
</div>
<div class="footerbar">
  <nav class='l'>
    <a href="/logbook/projects/<%= project.id %>">Cancel</a>
  </nav>
  <nav class='r'>
    <a href="/logbook/projects" class="destroy">Delete Project</a>
  </nav>
</div>
<div class="section">
  <div id="project-form"></div>
</div>
