<div class="titlebar">
  <div class="title">Reports</div>
</div>
<div class="section headerless">
  <div class="section-header">Assigned to You</div>
  <div id="report-submissions-table" class="table index-table report-submissions-table"></div>
  <div id="report-submissions-pagination"></div>
</div>
