<div class="titlebar">
  <a class="title" href="/logbook/reports">Reports</a>
  <a class="subtitle" href="/logbook/reports/submitted">&rsaquo; Submitted</a>
</div>
<div class="section" id="report-submissions-table-wrapper">
  <div id="report-submissions-table" class="table index-table report-submissions-table"></div>
  <div id="report-submissions-pagination"></div>
</div>
