<div class="titlebar">
  <a class="title" href="/logbook/reports">Reports</a>
  <div class="subtitle">&rsaquo; <%= report_submission.name %></div>
  <nav class='titlebar-actions'>
    <a title="Save this report so you can continue it later" class='save people-link' href="/logbook/reports">Save</a>
    <a title="Submit this report to HQ" class='submit' href="/logbook/reports">Submit</a>
  </nav>
</div>

<div id="basic-toolbar" class="toolbar">
  <button class="ql-bold">Bold</button>
  <button class="ql-italic">Italic</button>
  <button class="ql-bullet">List</button>
  <input id="assets" type="file" multiple />
</div>

<div id="report-body">
  <%= report_submission.body %>
</div>
