<div class="titlebar">
  <a class="title" href="/logbook/report_submissions">Reports</a>
  <div class="subtitle">&rsaquo; <%= report_submission.name %></div>
  <nav class='titlebar-actions'>
    <a title="Save this report so you can continue it later" class='save people-link' href="/logbook/report_submissions">Save</a>
    <a title="Submit this report to HQ" class='submit' href="/logbook/report_submissions">Submit</a>
  </nav>
</div>
<textarea name="body" id="report-body" class="text-editor"><%= report_submission.body %></textarea>
