<div class="titlebar">
  <div class="title">Completing Report</div>
  <div class="subtitle"><%= report_submission.name %></div>
  <nav class='titlebar-actions'>
    <a class='save people-link' href="/logbook/report_submissions">Save</a>
    <a class='submit' href="/logbook/report_submissions">Submit</a>
  </nav>
</div>
<textarea name="body" id="report-body" class="text-editor"><%= report_submission.body %></textarea>
