<div class="titlebar">
  <div class="title">Completing Report</div>
  <div class="subtitle"><%= report_submission.name %></div>
</div>
<div class="footerbar">
  <nav class='l'>
    <a class='save' href="/logbook/report_submissions">Save Report</a>
  </nav>
  <nav class='r'>
    <a class='submit' href="/logbook/report_submissions">Submit Report</a>
  </nav>
</div>
<textarea name="body" id="report-body" class="text-editor">
  <%= report_submission.body %>
</textarea>
