<div class="titlebar">
  <a class="title" href="/logbook/reports">Reports</a>
  <div class="subtitle">&rsaquo; <%= report_submission.name %></div>
</div>
<ul class="factbar">
  <li class="fact">
    <label>Date Submitted</label>
    <%= report_submission.date_submitted %>
  </li>
  <li class="fact">
    <label>Author</label>
    <%= report_submission.person.name %>
  </li>
</ul>
<div class="section">
  <div class="report-submission-body">
    <%= report_submission.body %>
  </div>
</div>
