<select class="time-filter-menu">
  <option value="this_school_year">this school year</option>
  <option value="past_two_weeks">past two weeks</option>
  <option value="past_month">past month</option>
  <option value="past_three_months">past three months</option>
  <option value="this_time_last_year">at this time last year</option>
  <option value="dawn_of_time">since the dawn of time</option>
</select>
<div class="time-filter-trigger icon-event"></div>
