#filters
  %ul
    %li
      %ul
        %li
          %h3
            - if current_scope.is_a? Site
              = "Viewing #{current_scope.name}."
              =link_to "View All"
            - else
              Sites
        - Site.order(:name).each do |site|
          %li=link_to site.name, url_for(site_id: site.id), class: ('active' if site.id == params[:site_id])
    %li
      %ul
        %li
          %h3
            - if current_scope.is_a? School
              = "Viewing #{current_scope.name}."
              =link_to "View All"
            - else
              Schools
        - School.order(:name).each do |school|
          %li=link_to school.name, url_for(school_id: school.id), class: ('active' if school.id == params[:school_id])
