#tabs
  %ul.tabs
    = nav_link_to "<span class='mega-octicon octicon-rss'></span> Activity", citybook_root_url(scope_params)
    = nav_link_to "<span class='mega-octicon octicon-organization'></span> People", citybook_people_path(scope_params)
    /= nav_link_to "<span class='mega-octicon octicon-paintcan'></span> Projects", citybook_projects_path
    = nav_link_to "<span class='mega-octicon octicon-pulse'></span> Engagements", citybook_engagements_path(scope_params)
