#tabs
  %ul.tabs
    = nav_link_to "<div class='mega-octicon octicon-rss'></div> Activity", citybook_root_url(scope_params)
    = nav_link_to "<div class='mega-octicon octicon-organization'></div> People", citybook_people_path(scope_params)
    /= nav_link_to "<div class='mega-octicon octicon-paintcan'></div> Projects", citybook_projects_path
    = nav_link_to "<div class='mega-octicon octicon-pulse'></div> Engagements", citybook_engagements_path(scope_params)
