= form_for [:cic, @task], html: { class: 'list-detail panel' } do |f|
  .panel-title
    %h1 New Task
    .l-menu= link_to "Cancel", cic_tasks_path
    .r-menu
      = f.submit 'Done'
  .panel-body.scrollable.pad
    = render partial: 'form', locals: {f: f}

