%h1= "Attendance - #{@engagement.date.strftime "%D"} - #{@engagement.kind}"

%input.search-field{type: 'text', name: 'q', placeholder: 'Find or add someone...', autocomplete: 'off', autocorrect: 'off', data: { action: api_v1_people_path }}

=form_for Person.new(grade: 9, school_id: current_user.school_id), url: api_v1_people_path, remote: true do |f|
  %table#engagement-attendance
    %tr
      %th First
      %th Last
      %th Grade
      %th School
      %th Actions
    %tbody.search-results
    %tbody.new-record-via-search
      %tr
        %td{colspan: 2}
          Add person named
          %span.person-name
        %td
          =f.select :grade, Person::GRADE_ENUM
        %td
          =f.select :school_id, current_user.schools.map{|s| [s.name, s.id] }
          =f.hidden_field :role, value: 'student'
          =f.hidden_field :first_name
          =f.hidden_field :last_name
        %td
          =f.submit 'Add Person'

:javascript
  window.DS_DATA = #{JSON.dump( @js_data || {} )}
