=form_for [:citybook, @engagement], remote: true do |f|
  %table#engagements-list
    %th Date
    %th Kind
    %th Duration
    %th School
    %th Actions

    %tbody.engagements
      %tr
        %td.date-select
          New: 
          = f.date_select :date, use_short_month: true, discard_year: true
        %td= f.select :kind, Engagement::KIND_ENUM
        %td= f.select :duration, Engagement::DURATION_ENUM
        %td=f.select :school_id, current_user.schools.map{|s| [s.name, s.id] }
        %td=f.submit 'Add engagement', data: {disable_with: 'Adding...'}
      =render @engagements
      %tr
        %td{colspan: 5}=paginate @engagements

