<div class='titlebar'>
  <h1>Person</h1>
  <div class='l-menu'>
    <div class='button back'>Back</div>
  </div>
  <div class='r-menu'>
    <div class='button edit'>Edit</div>
  </div>
</div>
<div class='person-detail detail-content scrollable'>
  <div>
    <header>
    </header>
    <div class='person-contact card'>
    </div>
  </div>
</div>
