%table
  %th First
  %th Last
  %th Grade
  %th School

  - @people.each do |person|
    %tr[person]
      %td=person.first_name
      %td=person.last_name
      %td=person.grade
      %td=person.school.try(:name)
=paginate @people
