html, body, form {
  height: 100%;
}
body {
  margin: 0;
}
pre, code {
  white-space: pre-wrap;
  word-wrap: break-word;
}
#{$all-text-inputs} {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  @include transform(scale(2));
  margin: 0 10px 0 10px;
}

