input, select, textarea {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  background: none;
  font-size: 1.5em;
}

input, select {
  border-bottom: 1px solid $base-border-color;
  &:focus {
    border-color: $base-accent-color;
    outline: none;
  }
  &[type=file] { border-bottom: none; }
}

.field {
  position: relative;
  height: 4em;
  label {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

label {
  color: darken($base-border-color, 10%);
}

select {
  font-size: 1.5em;
  text-transform: capitalize;
}

textarea {
  border: 1px solid $base-border-color;
}

input[type=submit] {
  @include btn;
  float: right;
  font-size: 1.5em;
  &:before, &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.selectize-control.multi .selectize-input {
  border-radius: 0;
  &.input-active { border-radius: 0; }
  @include row;
  .item {
    white-space: nowrap;
    text-transform: capitalize;
  }
}
.selectize-dropdown-content .option {
  text-transform: capitalize;
}

.inline-form {
  position: relative;
  height: 3em;
  input {
    position: absolute;
    height: 100%;
    top: 0;
    &[type=submit] {
      font-size: 1em;
      width: 15%;
      right: 0;
      border-radius: 0;
      z-index: 1;
    }
    &[type=text] {
      border: 1px solid $base-border-color;
      border-right: 0;
      background: white;
      width: 85%;
      left: 0;
      z-index: 2;
    }
  }
}
