input, select, textarea {
  display: block;
  width: 100%;
  background: none;
  font-size: 1em;
  border: none;
  border-bottom: 1px solid $base-border-color;
  padding: 5px;
  border-radius: 0;
  font-family: $base-font-family;
}

#{$all-text-inputs}, select {
  @include appearance(none);
  &:focus {
    border-bottom-color: $base-accent-color;
    outline: none;
  }
  &[type=file] { border-bottom: none; }
}

label {
  color: lighten($base-font-color, 50%);
}

select {
  text-transform: capitalize;
  option {
    font-size: 10px;
  }
}

textarea {
  border: 1px solid $base-border-color;
}

.actions-field {
  clear: both;
  @include clearfix;
  input {
    background: $retro-green;
    color: white;
    font-size: 1em;
    clear: both;
    border: none;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: $base-font-family;
    cursor: pointer;
  }
}
.checkbox-field {
  line-height: 50px;
  input {
    display: inline-block;
    width: auto;
  }
}

.selectize-control.multi .selectize-input {
  border-radius: 0;
  &.input-active { border-radius: 0; }
  @include row;
  .item {
    white-space: nowrap;
    text-transform: capitalize;
  }
}
.selectize-dropdown-content .option {
  text-transform: capitalize;
}

.inline-form {
  position: relative;
  height: 3em;
  input {
    position: absolute;
    height: 100%;
    top: 0;
    &[type=submit] {
      font-size: 1em;
      width: 15%;
      right: 0;
      border-radius: 0;
      z-index: 1;
    }
    &[type=text] {
      border: 1px solid $base-border-color;
      border-right: 0;
      background: white;
      width: 85%;
      left: 0;
      z-index: 2;
    }
  }
}
.combodate {
  display: block;
  select {
    display: inline-block;
    width: auto;
  }
}
