$ios-blue: #007aff;
$ios-light-blue: #5ac8fa;
$ios-green: #4cd964;
$ios-red: #ff3b30;
$ios-yellow: #ffcc00;
$ios-orange: #ff9500;
$ios-gray: #8e8e93;
$ios-medium-gray: #c9c9ce;
$ios-light-gray: #f8f8f8;
$ios-pink: #ff2d55;
