.centered {
  text-align: center;
}

.huge {
  line-height: 1.4;
  font-size: 2em;
}

.header {
  margin-top: $gutter;
  &:first-child { margin-top: 0; }
  @include outer_container;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: bold;
  padding: 0 $gutter;
  h1 {
    font-size: 1em;
  }
}

.tools_list {
  @include clearfix;
  @include outer_container;
}

.tool {
  @include span_columns(4);
  @include omega(3n);
  padding: $gutter;
}

.tasks_list {
  @extend .tools_list;
}

.task {
  @extend .tool;
}

.switch-field {
  @include row;
  max-width: 320px;
  > label {
    @include span_columns(9);
  }
  .input {
    @include span_columns(3);
  }
}

.list-item {
  @include outer_container;
  cursor: pointer;
}
.list-item-graphic, .list-item-label {
  height: 100%;
  line-height: 60px;
  height: 60px;
}
.list-item-graphic {
  @include span_columns(1 of 4);
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  position: relative;
}
.list-item-label {
  @include span_columns(3 of 4);
}
