.centered {
  text-align: center;
}

.huge {
  line-height: 1.4;
  font-size: 2em;
}

.header {
  margin-top: $gutter;
  &:first-child { margin-top: 0; }
  @include outer_container;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: bold;
  padding: 0 $gutter;
  h1 {
    font-size: 1em;
  }
}

.tools_list {
  @include clearfix;
  @include outer_container;
}

.tool {
  @include span_columns(4);
  @include omega(3n);
  padding: $gutter;
}

.tasks_list {
  @extend .tools_list;
}

.task {
  @extend .tool;
}

.switch-field {
  @include row;
  max-width: 320px;
  > label {
    @include span_columns(9);
  }
  .input {
    @include span_columns(3);
  }
}
.tab_target {
  height: 100%;
}

.list-frame, .detail-frame, .panel-frame {
  height: 100%;
}

.list {
  position: relative;
  height: 100%;
  @include transform(translate3d(0,0,0));
}

.list-items {
  @include scrollable;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  &:empty {
    text-align: center;
    &:after {
      content: "This list is empty :(";
      padding: 1em;
      display: inline-block;
    }
  }
}

.list-with-toolbar {
  .list-items {
    top: 60px;
  }
}
.list-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  padding-top: 12px;
  width: 100%;
  z-index: 10;
}

.list-item {
  @include outer_container;
  cursor: pointer;
}

.list-item-graphic, .list-item-label {
  height: 100%;
  line-height: 60px;
  height: 60px;
}

.list-item-graphic {
  @include span_columns(1 of 4);
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  position: relative;
}

.list-item-label {
  @include span_columns(3 of 4);
}

.detail {
  position: relative;
  height: 100%;
}

.detail-content {
  @include scrollable;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
}

.detail-with-toolbar {
  .detail-content {
    top: 60px;
  }
}

.detail-toolbar {
  line-height: 60px;
  height: 60px;
}

.detail-toolbar-title {
  overflow: hidden;
}

.panel-frame {
  padding: 1em;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 101%;
    pointer-events: none;
  }
}

.l-menu, .r-menu {
  position: absolute;
  top: 0;
  bottom: 0;
}
.l-menu {
  left: 5px;
}
.r-menu {
  right: 5px;
}

.inline-label {
  display: inline-block;
}

.stats {
  table {
    td:first-child {
      font-size: .75em;
    }
    td:last-child {
      font-weight: bold;
    }
    .long {
      line-height: 1.2;
      vertical-align: top;
      font-weight: normal;
    }
  }
}

table.no-borders {
  td {
    padding: 0;
    border: none;
  }
}

td.last {
  text-align: right;
}
