.centered {

  text-align: center;
}

.huge {
  line-height: 1.4;
  font-size: 2em;
}

.header {
  margin-top: $gutter;
  &:first-child { margin-top: 0; }
  @include outer_container;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: bold;
  padding: 0 $gutter;
  h1 {
    font-size: 1em;
  }
}

.panel {
  @include display(flex);
  @include flex-direction(column);
  height: 100%;
}
.panel-title, .panel-footer {
  @include flex-shrink(0);
  position: relative;
  height: 44px;
  line-height: 44px;
  h1 {
    font-size: 1em;
    text-align: center;
    line-height: 44px;
  }
}
.panel-body {
  @include flex-grow(1);
}
.list {
  @extend .panel;
  max-width: 320px;
  position: absolute;
  left: 0;
  top: 0;
  width: 320px;
}
.list-title, .list-footer {
  @extend .panel-title;
}
.list-body {
  @extend .panel-body;
}

.list-detail {
  margin-left: 320px;
}

.list-item {
  @include outer_container;
  cursor: pointer;
  p {
    padding: 1em 1em .3em;
    line-height: 1;
  }
}

.list-item-graphic, .list-item-label {
  height: 100%;
  line-height: 60px;
  height: 60px;
}

.list-item-graphic {
  @include span_columns(3);
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  position: relative;
}

.pad {
  padding: 1em;
}

.l-menu, .r-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  a {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    min-width: 44px;
  }
}
.l-menu {
  left: 0;
  text-align: left;
  a:first-child {
    padding-left: 1em;
  }
}
.r-menu {
  right: 0;
  text-align: right;
  overflow: hidden;
  a:last-child {
    padding-right: 1em;
  }
}

.scrollable {
  @include scrollable;
}


.actions {
  margin-top: 1em;
}

a[rel=next] {
  text-align: center;
  padding: 1em;
  display: block;
}


.list-item-label {
  @include span_columns(9);
}


/* LEGACY */

.tab_target {
  height: 100%;
}

.list-frame, .detail-frame, .panel-frame {
  height: 100%;
}

.list-items {
  @include scrollable;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  &:empty {
    text-align: center;
    &:after {
      content: "This list is empty :(";
      padding: 1em;
      display: inline-block;
    }
  }
}

.list-with-toolbar {
  .list-items {
    top: 60px;
  }
}
.list-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  padding-top: 12px;
  width: 100%;
  z-index: 10;
}

.detail {
  position: relative;
  height: 100%;
}

.detail-content {
  @include scrollable;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
}

.detail-with-toolbar {
  .detail-content {
    top: 60px;
  }
}

.detail-toolbar {
  line-height: 60px;
  height: 60px;
}

.detail-toolbar-title {
  overflow: hidden;
}

.panel-frame {
  padding: 1em;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 101%;
    pointer-events: none;
  }
}


.inline-label {
  display: inline-block;
}

.stats {
  table {
    td:first-child {
      font-size: .75em;
    }
    td:last-child {
      font-weight: bold;
    }
    .long {
      line-height: 1.2;
      vertical-align: top;
      font-weight: normal;
    }
  }
}

table.no-borders {
  td {
    padding: 0;
    border: none;
  }
}

td.last {
  text-align: right;
}
