/*
= require s3_direct_upload_progress_bars
= require octicons
*/
@import 'bourbon';
@import 'base/base';
@import 'theme';
$gw-column: 56px;
$gw-gutter: 28px;

// base
body {
  margin: $gutter auto;
  width: 980px;
  font-size: 21px;
  line-height: 1.4;
}

input {
  font-size: 1em;
}

h1 {
  margin-bottom: $gutter;
}

@import 'my_modules';
