@mixin play_button {
  left: 50%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-left-color: $retro-white;
  border-width: 15px;
  margin: -15px 0 0 -8px;
  z-index: 2;
}

@mixin one_line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#feed-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  font-weight: 700;
  padding: 1rem;
  font-size: 1;
  line-height: 1;
  z-index: 1000;
  text-align: center;
  h1, h2 {
    display: inline-block;
  }
  h1 { color: $retro-black; }
  h2 { color: $retro-slate; }
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: $retro-white;
  /*@include linear-gradient(15deg, $retro-blue, darken($retro-blue, 10%));*/
  /*color: $retro-white;*/
}

.notes-container {
  background: white;
  margin-top: 45px;
}

.note {
  position: relative;
  background: $base-border-color;
  * { box-sizing: border-box; }
  em {
    font-weight: bold;
    color: $retro-light-gray;
  }
}

.note-info {
  width: 100%;
  @include clearfix;
  padding: 1em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: $retro-white;
  @include linear-gradient(white, $retro-white);
  opacity: .98;
  z-index: 10;
}

.note-avatar {
  width: 2em;
  height: 2em;
  overflow: hidden;
  float: left;
  margin-right: 1em;
  img {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border: 1px solid $base-border-color;
  }
}

.note-author {
  margin: 0 8ch 0 3rem;
  font-size: 13px;
  * {
    display: block;
    @include one_line;
  }
}

.note-date {
  text-align: right;
  float: right;
  width: 8ch;
  font-size: 13px;
  color: $light-gray;
  font-weight: 500;
  @include one_line;
}

.note-assets {
  overflow: hidden;
  img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .video-container {
    width: 100%;
    height: 90px;
    line-height: 90px;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: $base-border-color;
    border-bottom: 1px solid $retro-white;
    a {
      color: $retro-white;
      display: block;
      position: relative;
      @include one_line;
      &:hover { color: $retro-blue; }
      &:before {
        @include play_button;
        @include transition(opacity .5s);
        left: 30px;
      }
    }
    &.playing:before {
      opacity: 0;
    }
  }
  p { padding: 1em; }
}

.note.gallery {
  .note-assets {
    background: $retro-gray;
    @include radial-gradient($retro-gray, $retro-black);
    @include clearfix;
    padding: 5px;
    .thumbnail {
      display: block;
      width: 25%;
      float: left;
      overflow: hidden;
      padding: 5px;
      img {
        margin: 0;
        border-radius: 5px;
      }
      &:nth-child(4n+1) {
        clear: left;
      }
    }
  }
  &.note-video {
    .note-assets {
      padding: 0;
    }
  }
}

.note-content {
  @include linear-gradient(15deg, $lightest-gray, $retro-white);
  border-bottom: 1px solid rgba(0,0,0,.05);
  padding: 1rem;
  text-align: center;
  font-size: 1.25em;
  a { color: $retro-black; }
  .note-subject {
    font-weight: bold;
  }
  p {
    color: $retro-gray;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 1em 0;
  }
}

.note-viewer {
  position: fixed;
  @include linear-gradient(15deg, $lightest-gray, $retro-white);
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  border-left: 1px solid rgba(0,0,0,.1);
  display: none;
  img, video {
    max-width: calc(100% - 2em);
    max-height: calc(100% - 2em);
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 1px 3px 5px rgba(0,0,0,.1);
    @include transform(translate3d(-50%,-50%,0));
    @include animation(fadeIn 1s);
  }
  audio {
    display: block;
    height: 2em;
    width: calc(100% - 4em);
    position: absolute;
    top: 50%;
    left: 2em;
    margin-top: -1em;
  }
  .lb-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1em 0 0 -1em;
  }
}

.note-pdf {
  .note-assets {
    background: $light-gray;
    @include radial-gradient($lightest-gray, $light-gray);
    text-align: center;
    padding: 1rem;
    img {
      width: 3em;
      height: 3em;
      margin: 1rem auto;
    }
    p {
      font-size: .8em;
      margin-bottom: 1rem;
    }
  }
}

.note-document {
  .note-assets {
    padding: 1rem;
  }
}

.next-page {
  padding: 1em;
  border-top: 1px solid rgba(0,0,0,.1);
  text-align: center;
  /*max-width: 420px;*/
  box-sizing: border-box;
  .lb-loading {
    display: none;
  }
}

.infinite-loading + .next-page {
  a { display: none; }
  .lb-loading { display: block; }
}

@media (min-width: 768px) {
  body.notes {
    max-width: 280px;
  }
  .note-viewer {
    display: block;
    left: 280px;
  }
  .note-info {
    top: 44px;
  }
  #feed-header {
    max-width: 280px;
    position: fixed;
  }
}

@media (min-width: 960px) {
  body.notes { max-width: 360px; }
  .note-viewer { left: 360px; }
  #feed-header { max-width: 360px; }
}
