/*
= require octicons
*/
@import 'bourbon';
@import 'base/base';

* {
  @include box-sizing(border-box);
}

#l-public {
  margin: 85px 0 0;
  padding: 0;
}

p {
  font-family: 'Minion Pro', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  margin-bottom: $gutter*2;
}

figure {
  margin: 0 0 $gutter;
}
figcaption {
  @extend p;
  font-style: italic;
  color: $medium-gray;
  font-size: em(12px);
  padding-top: 8px;
}

.project-header {
  color: $base-background-color;
  background-color: $dark-gray;
  background-size: cover;
  background-position: center center;
  padding: $gutter;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 -40px 40px rgba(0,0,0,.333);
  h1 {
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    text-shadow: 0 0 1em black;
  }
}

.project-tags {
  position: absolute;
  top: $gutter;
  right: $gutter;
  img {
    height: $gutter*2;
    margin-left: $gutter;
  }
}

.project-overview {
  position: fixed;
  top: 85px;
  bottom: 0;
  left: 0;
  width: 33%;
  padding: $gutter*2 $gutter $gutter;
}

.project-description {
}

.project-personnel {
  position: absolute;
  bottom: $gutter;
  left: $gutter;
  font-size: em(12px);
  * { font-size: 1em; }
  h3, ul {
    text-transform: uppercase;
  }
  ul {
    margin-bottom: $gutter;
  }
}


.project-story {
  margin-left: 33%;
  width: 50%;
  padding: $gutter*2 0;
  img {
    width: 100%;
    display: block;
  }
  h3 {
    font-size: 1em;
    text-transform: uppercase;
    padding: $gutter*2 0;
  }
}

.project-story-nav {
  position: fixed;
  top: 85px;
  right: 0;
  padding: $gutter*2 $gutter $gutter;
  width: 17%;
  a {
    display: block;
    color: $light-gray;
    text-transform: uppercase;
    font-weight: 600;
    font-size: em(12px);
    line-height: 1;
    padding: 0 0 $gutter;
    &.is-active, &:hover {
      color: $medium-gray;
    }
  }
}

