#new-session {
  width: 100%;
  left: 0;
  @include vertical-center;
  text-align: center;
  p { margin-top: 1em; color: $retro-light-gray; }
  .warning { color: $retro-red; }
  img {
    display: block;
    margin: 0 auto 10px;
    width: 8em;
    height: 8em;
    background: none;
  }
  form {
    margin: 0 auto;
    text-align: center;
  }
  input {
    margin: 0 auto;
    color: white;
    background: none;
    border-color: white;
    cursor: pointer;
    font-weight: bold;
    &:focus {
      outline: none;
    }
    &:active {
      outline: none;
      position: relative;
      top: 1px;
    }
  }
  input {
    &[type=submit] {
      color: $retro-gray;
      -webkit-appearance: none;
      border: none;
      font-size: 1.5em;
      font-family: 'avenir next', avenir, sans-serif;
    }
  }
}
#registration {
  ul {
    @include clearfix;
  }
  li {
    @include span-columns(4);
    @include omega(3n);
    position: relative;
    label {
      font-weight: normal;
      text-align: center;
    }
    .person-role, .school-name {
      color: $retro-light-gray;
      text-transform: capitalize;
      font-size: .8em;
    }
  }
  img {
    width: 4em;
    height: 4em;
    border-radius: 100%;
    background: $base-border-color;
    margin: 0 auto;
    border: 3px solid transparent;
  }
  input[type=radio] {
    position: absolute;
    opacity: 0;
  }
  input:checked + img {
    border: 3px solid $retro-yellow;
    @include animation(pulse 1s ease infinite alternate-reverse);
  }
}
