body {
  -webkit-tap-highlight-color: transparentize($blue, .9);
}
#sidebar {
  background-color: $lightest-gray;
  color: $base-border-color;
  .current {
    color: $blue;
    * { color: $blue; }
  }
  .avatar {
    background: $blue;
  }
}

#canvas {
  background-color: $base-background-color;
  box-shadow: -4px 0 8px rgba(0,0,0,.075);
  border-left: 1px solid $base-border-color;
}

.alert {
  @include flash($alert-color);
}

.error {
  @include flash($error-color);
}

.notice {
  @include flash($notice-color);
}

.success {
  @include flash($success-color);
}

.list {
  border-right: 1px solid $base-border-color;
}

.list-title, .panel-title {
  background-color: $lightest-gray;
  border-bottom: 1px solid $base-border-color;
}

.button { color: white; }

.list-item {
  border-bottom: 1px solid $base-border-color;
  font-weight: 500;
  display: block;
  color: $base-font-color;
  &.is_active {
    background: $base-accent-color;
    color: white;
  }
}

.list-search {
  background: $base-border-color;
  padding: 8px;
  input {
    border: none;
    margin: 0;
  }
}

.detail-toolbar {
  font-weight: bold;
}

.task {
  &.complete {
    text-decoration: line-through;
    color: $base-border-color;
    input { opacity: .2 };
  }
}


small {
  text-transform: lowercase;
  font-variant: small-caps;
}

.stat {
  border-radius: $base-border-radius;
  background: $blue;
  color: $dark-blue;
  line-height: 1;
  span {
    font-size: .75em;
  }
  h1 {
    color: white;
  }
}

fieldset {
  background-color: $lightest-gray;
  border: none;
}

.calendar_date {
  text-align: center;
}
.calendar_date_month {
  font-weight: normal;
  font-size: .5em;
  text-transform: uppercase;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.activity_day {
  border-bottom: 1px solid $base-border-color;
  background: $base-accent-color;
  color: white;
  font-weight: bold;
}

.school_stats {
  th {
    background: $dark-blue;
    color: white;
    padding-left: .5em;
    padding-right: .5em;
    border: none;
  }
}
.school_activity_feed {
  .action_who a {
    color: $dark-blue;
    font-weight: bold;
  }
}
.action.list-item {
  cursor: auto;
}

#person_notes {
  border: none;
  border-bottom: 1px solid $base-border-color;
  background: white;
  padding: 0 0 1em;
  font-size: .9em;
  line-height: 1.2;
  height: 5em;
  margin-top: .6em;
}
