#sidebar {
  background: white;
  color: $slate_blue;
  .current a {
    color: $tfp_blue;
  }
  header { color: $dark_blue; }
  .active {
    color: $tfp_blue;
  }
}

body {
  background: $tfp_blue;
  font-family: 'avenir next', avenir, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: white;
}

.card {
  padding: 1em;
}

.btn, button, .button, input[type=submit] {
  background: none;
  color: white;
  text-decoration: none;
  border: .15em solid;
  border-radius: .15em;
  @include transition;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
  &:hover {
    color: $dark-blue;
  }
}

hr {
  border: none;
  @include linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
}

a {
  text-decoration: none;
  color: inherit;
  @include transition;
  &:hover {
    text-decoration: underline;
  }
}

.header {
  color: $tfp_blue;
  background: white;
}

