.alert {
  @include flash($alert-color);
}

.error {
  @include flash($error-color);
}

.notice {
  @include flash($notice-color);
}

.success {
  @include flash($success-color);
}

.list-toolbar, .detail-toolbar {
  background: $lightest-gray;
  border-bottom: 1px solid;
  text-align: center;
}

.list-item {
  border-bottom: 1px solid $base-font-color;
  font-weight: 500;
  &.is_active {
    background: $base-accent-color;
    color: white;
  }
}

#tabs {
  border-right: 1px solid $base-font-color;
  .mega-octicon {
    border: 3px solid;
    border-radius: 50%;
  }
  .active {
    .mega-octicon {
      background: $blue;
      color: white;
      border-color: $dark_blue;
    }
  }
}
.detail-frame {
  border-left: 1px solid $base-font-color;
}

.detail-toolbar {
  font-weight: bold;
}
