%article
  .logo= image_tag asset_path('tfplogo.svg')
  %h1 DreamOS
  %h6 Do something!
  %ul
    %li=link_to "Log Book", logbook_root_url
    %li=link_to "CIC", cic_root_url
    %li=link_to "Log Out", log_out_url
