#projects_list.list
  .list-title
    %h1 Projects
    .r-menu
      =link_to "New", new_logbook_project_path
  .list-body.scrollable
    - @projects.each do |project|
      %a.list-item{href: logbook_project_path(project)}
        %h6=project.name
        =project.leaders.limit(3).pluck(:first_name).join ", "
    = link_to_next_page @projects, 'Load More'

#projects_detail.panel.list-detail

