!!!
%html{manifest_path('/phonebook/manifest.appcache')}
  %head
    %title Phonebook
    %style
      :css
        html, body { background: black; }

    = stylesheet_link_tag    'phonebook/phonebook', media: 'all'
    = csrf_meta_tags
    %meta{name:"apple-mobile-web-app-capable", content:"yes"}
    %meta{name:"mobile-web-app-capable", content:"yes"}
    %meta{name:"apple-mobile-web-app-status-bar-style", content:"black"}
    %meta{name:"viewport", content:"maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0, width=device-width"}
    %meta{name:"apple-mobile-web-app-title", content:"Logbook"}
    %link{rel:"apple-touch-icon", href: asset_path('phonebook-icon.png')}

    / iPhone 6 plus (native)
    %link{:href => asset_path("phonebook-startup-1242x2148.png"), :media => "(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)", :rel => "apple-touch-startup-image"}
    / iPhone 6 (scaled)
    %link{:href => asset_path("phonebook-startup-1125x1941.png"), :media => "(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 3)", :rel => "apple-touch-startup-image"}
    / iPhone 6
    %link{:href => asset_path("phonebook-startup-750x1294.png"), :media => "(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)", :rel => "apple-touch-startup-image"}
    / iOS 6 & 7 iPhone 5
    %link{:href => asset_path("phonebook-startup-640x1096.png"), :media => "(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)", :rel => "apple-touch-startup-image"}
    / iOS 6 & 7 iPhone (retina)
    %link{:href => asset_path("phonebook-startup-640x920.png"), :media => "(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)", :rel => "apple-touch-startup-image"}

  %body#phonebook
    = javascript_include_tag 'phonebook/phonebook'
    :javascript
      ds.init()
