!!!
%html{manifest_path('/phonebook/manifest.appcache')}
  %head
    %title Phonebook
    = stylesheet_link_tag    'phonebook/phonebook', media: 'all'
    = csrf_meta_tags
    %meta{name:"apple-mobile-web-app-capable", content:"yes"}
    %meta{name:"mobile-web-app-capable", content:"yes"}
    %meta{name:"apple-mobile-web-app-status-bar-style", content:"black"}
    %meta{name:"viewport", content:"maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0, width=device-width"}
    %meta{name:"apple-mobile-web-app-title", content:"Logbook"}
    %link{rel:"apple-touch-icon", href: asset_path('phonebook-icon.png')}

    / iPhone 6 plus (native)
    %link{:href => asset_path("ds-startup-1242x2148.jpg"), :media => "(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)", :rel => "apple-touch-startup-image"}
    / iPhone 6 (scaled)
    %link{:href => asset_path("ds-startup-1125x1941.jpg"), :media => "(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 3)", :rel => "apple-touch-startup-image"}
    / iPhone 6
    %link{:href => asset_path("ds-startup-750x1294.jpg"), :media => "(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)", :rel => "apple-touch-startup-image"}
    / iOS 6 & 7 iPhone 5
    %link{:href => asset_path("ds-startup-640x1096.jpg"), :media => "(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)", :rel => "apple-touch-startup-image"}
    / iOS 6 & 7 iPhone (retina)
    %link{:href => asset_path("ds-startup-640x920.jpg"), :media => "(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)", :rel => "apple-touch-startup-image"}
    :javascript
      window.ds = window.ds || {}

  %body#phonebook
    .lb-loading
    = javascript_include_tag 'phonebook/phonebook'
    :javascript
      ds.init(#{JSON.dump current_user.as_json})
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-35246062-6', 'auto');
      ga('send', 'pageview');
